$bgc:background-color;
*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap{
    width: 1228px;
    margin: 0 auto;
}
li{
    list-style: none;
}
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color: #333;
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
    &:hover{
        color: red;
    }
}
div,span,a,i,p,img {
    vertical-align: middle;
}
.hd_header{
    .hd-bg{
        #{$bgc}: #f4f4f4;
        border-bottom: 1px solid #e5e5e5;
    }
}
.hd_header_top{
    min-width: 980px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    div,span,a,i {
        vertical-align: middle;
    }
    .hd_t_left{
        float: left;
        padding: 0 10px;
    }    
    
    .hd_t_left>i{
        color: red;
        font-size: 12px;
    }
    .hd_place{

        .fff{
            position: absolute;
            width: 100%;
            display: none;
            height: 3px;
            #{$bgc}: #fff;
            top: 28px;
            left: 0px;
            z-index: 3;
        }
        a{
            i{
                font-size: 16px;
                color: red;
            }
        }
        @extend .hd_t_left;
        .none{
            width: 720px;
            top: 29px;
            left: -1px;
            color: #999;
            border: 1px solid #dbdbdb;
            #{$bgc}:#fff;
            z-index: 1;
            text-align: left;
            .hd_city_search{
                height: 30px;
                padding: 15px 20px 0 ;
                span{
                    display: inline-block;
                    color: #666;
                    height: 28px;
                    line-height: 28px;
                    padding-right: 10px;
                    font-weight: bold;
                }
                div{
                    display: inline-block;
                    input{
                        width: 135px;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 8px 0 25px;
                        vertical-align: middle;
                        color: #333;
                        font-size: 12px;
                    }
                    #txt{
                        position: absolute;
                        #{$bgc}: #fff;
                        border-radius: 3px;
                        border: 1px solid #AAA;
                        padding-left: 10px;
                        width: 158px;
                        left: 94px;
                        top: 47px;
                        display: none;
                    }
                    .iconfont{
                        position: absolute;
                        top: 17px;
                        left: 100px;
                        font-size: 16px;
                        color: #dcdcdc;
                    }
                }
                .close_city{
                    &:hover{
                        cursor: pointer;
                    }
                    width: 20px;
                    height: 20px;
                    float: right;
                    font: 20px "Tahoma";
                    color: #ccc;
                    margin: {
                        top: -8px;
                        right: -19px;
                    }
                }
                .clearText{
                    @extend .close_city;
                    font-size: 16px;
                    position: absolute;
                    top: 30px;
                    left: 245px;
                }
            }
            .hd_hot_city{
                padding: 12px 0 5px;
                margin-left: 20px;
                border-bottom: 1px solid #e0e0e0;
                span{
                    float: left;
                    color: #666;
                    font-weight: bold;
                    padding-right: 10px;
                }
                div{
                    @extend span;
                    font-weight: normal;
                    width: 610px;
                    a{
                        white-space: nowrap;
                        padding: {
                            right: 21px;
                            bottom: 5px;
                        }
                    }
                }
            }
            .hd_letter_search{
                @extend .hd_hot_city;
                padding: 12px 0 0;
                border: none;
                span{
                    height: 20px;
                    line-height: 20px;
                    vertical-align: bottom;
                }
                a{
                    float: left;
                    width: 22px;
                    height: 20px;
                    margin: 0 5px 5px 0;
                    #{$bgc}:#eee;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: middle;
                }
                .col{
                    color: #fff;
                    #{$bgc}:red;
                }
            }
            .hd_city_list{
                position: relative;
                height: 245px;
                margin: {
                    left: 20px;
                    bottom: 10px;
                }
                ul{
                    position: relative;
                    height: 215px;
                    padding: 10px 0;
                    overflow: auto;
                    scroll-behavior: smooth;
                    li{
                        position: relative;
                        margin-bottom: 10px;
                        padding-left: 30px;
                        padding-left: 30px;
                        .city_screen{
                            position: absolute;
                            left: 3px;
                            top: 2px;
                            font-size: 18px;
                            font-family: "Arial";
                            color: #ccc;
                        }
                        .city_box{
                            float: left;
                            a{
                                white-space: nowrap;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .hd_right{
        float: right;
        .hd_r_logReg{
            a{
                color: #AAA;
                &+a:hover{
                    color: red;
                }
            }
            span,span+a{
                color: red;
            }
            
        }
        // 登陆后显示
        .login-txt{
            float: left;
            position: relative;
            text-align: left;
            padding: 0 10px;
            div{
                width: 60px;
                float: right;
                position: relative;
                a{
                    // float: left;
                    position: absolute;
                    right: 0;
                    margin: 0 3px;
                    span{
                        padding: 2px 5px;
                        margin-right: 5px;
                        #{$bgc}:red;
                        color: #fff;
                        border-radius: 20px;
                    }
                    i{
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        transform: rotate(-135deg);
                        transition: all .3s;
                        transform-origin: 2px 2px;
                        border: {
                            top: 2px solid #AAA;
                            left: 2px solid #AAA;
                            radius: 2px;
                        }
                    }
                    
                }
            }
            &:hover{
                #{$bgc}: #fff;
                border: 1px solid #CCC;
                border-top: none;
                .vip i{
                    transform: rotate(45deg);
                }
                .hd-user-privilege{
                    display: block;
                }
            }
            .hd-user-privilege{
                position: absolute;
                z-index: 100;
                top: 29px;
                left: -1px;
                display: none; 
                width: 260px;
                height: 174px;
                padding: 15px;
                border: 1px solid #dbdbdb;
                #{$bgc}: #fff;
                .privilege-top{
                    width: 260px;
                    height: 90px;
                    position: relative;
                    a:first-child{
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        left: 0;
                        border-radius: 50%;
                        padding: 3px;
                        border: 1px solid #CCC;
                        &+a{
                            position: absolute;
                            left: 90px;
                            top: 5px;
                            span{
                                color: #333;
                                #{$bgc}:#fff;
                            }
                            &+a{
                                position: absolute;
                                left: 90px;
                                top: 30px;
                                span{
                                    padding: 2px 5px;
                                }
                                &+a{
                                    margin: -15px -15px 0 0;
                                    span{
                                        color: #ccc;
                                        #{$bgc}:#fff;
                                    }
                                }
                            }
                        }
                    }
                    img{
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                    }
                }
                .privilege-bot{
                    width: 260px;
                    height: 90px;
                    p{
                        width: 240px;
                        margin: 0 auto;
                        border-top: 1px solid #ccc;
                        position: relative;
                        span{
                            position: absolute;
                            left: 50%;
                            top: -15px;
                            transform: translateX(-50%);
                            #{$bgc}:#fff;
                            padding: 0 10px;
                            i{
                                font-style: normal;
                                vertical-align: bottom;
                                margin: 0 3px;
                            }
                        }
                    }
                    .item{
                        width: 260px;
                        height: 85px;
                        position: relative;
                        img:first-child{
                            float: left;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            transform: rotate(180deg);
                            &+div{
                                float: left;
                                width: 100%;
                                padding: 20px 0px 0 20px;
                                div{
                                    float: left;
                                    text-align: center;
                                    em{
                                        font-style: normal;
                                        line-height: 16px;
                                    }
                                }
                                span{
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    border: 1px solid red;
                                    text-align: center;
                                    vertical-align: middle;
                                    white-space: normal;
                                    i{
                                        font-size: 24px;
                                        color: red;
                                        line-height: 40px;
                                    }
                                }
                            } 
                        }
                        img:last-child{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

        }
        .hd_r_l{
            @extend .hd_t_left;
            padding: 0 10px;
        }
        .hd_myOrder{
            .iconfont{
                color: #AAA;
                font-size: 14px;
            }
            &:hover .iconfont{
                color: red;
            }
        }
    }
    .hd_client{
        &:hover .none{
            display: block;
        }
        i{
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border: {
                top: 2px solid #AAA;
                left: 2px solid #AAA;
                radius: 2px;
            }
        }
        &:hover i{
            transform: rotate(45deg);
        }
        .none{
            position: absolute;
            top: 29px;
            left: 0px;
            width: 86px;
            padding: 5px 0;
            border: 1px solid #dbdbdb;
            border-top: none;
            #{$bgc}:#fff;
            text-align: left;
            a{
                display: block;
                line-height: 26px;
                padding-left: 10px; 
                color: #333;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .hd_relative{
        position: relative;
        z-index: 2;
    }
    .none{
        display: none;
        position: absolute;
    }
    .app{
        .none{
            position: absolute;
            top: 30px;
            left: -10px;
            padding: 15px 9px 9px;
            z-index: 1;
            #{$bgc}:#fff;
            border: 1px solid #e5e5e5;
            p{
                line-height: 18px;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                z-index: 3;
                left: 50%;
                margin-left: -5px;
                top: -5px+0.5px;
                width: 8px;
                height: 8px;
                #{$bgc}:#fff;
                border: {
                    top:1px solid #e5e5e5;
                    left: 1px solid #e5e5e5;;
                } 
                transform: rotate(45deg);
            }
        }
        .iconfont{
            font-size: 24px;
        }
        
        &:hover .none{
            display: block;
        }
    }
}


// 头部logo导航内容
.head-top{
    position: relative;
    height: 90px;
    border-bottom: 1px solid #e5e5e5;
    #{$bgc}: #fff;
    .club-logo{
        float: left;
        position: absolute;
        width: 214px;
        height: 32px;
        overflow: hidden;
        margin: 33px 0 0 10px;
        img{
            width: 100%;
        }
    }
    ul{
        float: right;
        width: 800px;
        padding: 34px 100px 0 0px;
        li{
            float: left;
            height: 36px;
            margin-right: 50px;
            padding: 0 10px;
            font-family: "microsoft yahei";
            font-size: 16px;
            line-height: 36px;
        }
    }
    
}

// 内容
.content{
    position: relative;
    canvas{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        opacity: .6;
    }
    .club-nav{
        position: relative;
        height: 580px;
        background: url(../../img/imgs/vip/bg.jpg) 50% 50% no-repeat;
        background-size: 200% 150%;
        .sec2{
            position: relative;
            z-index: 10;
        }
        // 登陆显示
        .vip-login{
            padding-top: 50px;
            text-align: center;
            .vip-login-left{
                float: left;
                box-sizing: border-box;
                width: 252px;
                height: 472px;
                border: 0 none;
                background-color: rgba(255, 255, 255,.5);
                // opacity: .6;
                padding: 10px;
                .userName{
                    box-sizing: border-box;
                    font-size: 18px;
                    color: #333;
                    margin-top: 33px ;
                    height: 28px;
                    overflow: hidden;
                    line-height: 28px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    // vertical-align: bottom;
                    span{
                        box-sizing: border-box;
                        vertical-align: bottom;
                    }
                }
                .userImg{
                    position: relative;
                    border-radius: 50%;
                    width: 76px;
                    height: 76px;
                    overflow: hidden;
                    margin: 24px auto;
                    box-shadow: 0 0 5px 0px #333;
                    img{
                        position: absolute;
                        left: -1px;
                        width: 76px;
                        height: 76px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        transform-origin: center center;
                        transition: all .5s;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
                .reg-time{
                    font-size: 14px;
                    color: #333;
                    span{
                        font-size: 14px;
                        font-weight: bold;
                        vertical-align: bottom;
                    }
                }
                .gold{
                    padding-top: 30px;
                    box-sizing: border-box;
                    span{
                        display: block;
                        width: 115px;
                        float: left;
                        color: #333;
                        font-weight: bold;
                        font-size: 22px;
                        &:first-child{
                            border-right: 1px solid #AAA9b9;
                        }
                        a{
                            display: block;
                            // padding-bottom: 5px;
                            em{
                                font-style: normal;
                                font-size: 12px;
                            }
                            i{
                                font-size: 30px;
                                font-weight: normal;
                            }
                        }
                    }
                }
                .red{
                    position: relative;
                    padding: 20px 40px 15px;
                    font-size: 12px;
                    a{
                        padding: 10px;
                        background-color: red;
                        color: #fff;
                        border-radius: 20px;
                        display: block;
                    }
                    img{
                        position: absolute;
                        right: -205px;
                        top: -40px;
                        width: 240px;
                        z-index: 100;
                        display: none;
                    }
                    &:hover img{display: block;}
                }
                .red+span{
                    font-size: 12px ;
                    color: #333;
                }
            }
            .vip-login-right{
                position: relative;
                float: right;
                width: 975px;
                height: 472px;
                .level{
                    li{
                        width: 130px;
                        height: 250px;
                        float: left;
                        position: relative;
                        // transform-origin: 0 0;
                        padding-top: 20px;
                        margin: 0 10px;
                        i{
                            width: 50px;
                            background-color: #666;
                            font-size: 12px;
                            color: #fff;
                            border-radius: 20px;
                            padding: 8px 10px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            font-style: normal;
                            &::after{
                                content: " ";
                                display: block;
                                position: absolute;
                                bottom: -5px;
                                left: 50%;
                                width: 0px;
                                height: 0px;
                                transform: rotate(45deg) translateX(-50%);
                                border: 5px solid #666;
                                border-color: transparent  #666 #666 transparent;
                            }
                        }
                        img{
                            width: 130px;
                            height: 130px;
                            position: absolute;
                            top: 55px;
                            left: 0px;
                        }
                        img:hover{
                            animation: swing .7s infinite;
                            @keyframes swing {
                                25%{
                                    transform: rotate(-5deg);
                                }
                                50%{
                                    transform: rotate(5deg);
                                }
                                75%{
                                    transform: rotate(-5deg);
                                }
                                100%{
                                    transform: rotate(5deg);
                                }
                            }
                        }
                        div{
                            width: 100%;
                            position: absolute;
                            bottom: 0px;
                            font-size: 14px;
                            span{
                                font-weight: bold;
                            }
                        }
                        
                        
                    }
                    .small{
                        transform: scale(0.9);
                    }
                    .big{
                        transform: scale(1.1);
                    }
                    
                }
                .font{
                    position: absolute;
                    bottom: 0px;
                    left: 40px;
                    width: 910px;
                    overflow: hidden;
                    margin: 0 auto;
                    padding: 30px 0 25px;
                    border: 1px solid rgba(255, 255, 255,.3);
                    background-color: rgba(221, 167, 170,.3);
                    
                    li{
                        float: left;
                        text-align: center;
                        a{
                            display: inline-block;
                            width: 90px;
                            font-size: 16px;
                            margin:0 20px;
                            color: #fff;
                            position: relative;
                            span{
                                position: absolute;
                                top: 4px;
                                left: 11px;
                                display: inline-block;
                                width: 62px;
                                height: 62px;
                                transform-origin: center center;
                                transform: scale(0);
                                border: 3px solid #fff;
                                box-shadow: 0 0 15px -10px #f5f5f5;
                                border-radius: 50%;
                                #{$bgc}: #f5f5f5;
                                color: #666;
                                font-size: 12px;
                                line-height: 62px;
                                transition: all .3s;
                            }
                            i{
                                font-size: 70px;
                            }
                            i:hover+span{
                                transform: scale(1);
                            }
                            span:hover{
                                transform: scale(1);
                            }
                            transition: color .3s;
                        }
                        .col{
                            color: #ff7364;
                        }
                        .purple{
                            color: #6b6b90;
                        }
                        .green{
                            color: #bc9148;
                        }
                        .modena{
                            color: #203c7a;
                        }
                    }
                }
            }
        }
        // 未登录显示
        .vip-not-login{

            position: relative;
            text-align: center;
            overflow: hidden;
            padding-top: 92px;
            .img-bor{
                margin: 0px auto;
                display: block;
                width: 100px;
                height: 100px;
                border: 1px solid #fff;
                border-radius: 50%;
                padding: 10px;
                box-sizing: border-box;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            p{
                height: 24px;
                padding: 14px 0 26px;
                color: #333;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
            }
            .login-btn{
                display: block;
                width: 280px;
                height: 50px;
                margin: 0 auto;
                #{$bgc}: #333;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                line-height: 50px;
                box-shadow: 0 -1px 1px rgba(0,0,0,0.25);
                animation: flashing 3s infinite;
            }
            @keyframes flashing {
                25%{
                    #{$bgc}: #000;
                }
                50%{
                    #{$bgc}: #333;
                }
                75%{
                    #{$bgc}: #000;
                }
                100%{
                    #{$bgc}: #333;
                }
            }
            ul{
                display: inline-block;
                width: auto;
                overflow: hidden;
                margin: 0 auto;
                padding-top: 75px;
                li{
                    float: left;
                    width: 100px;
                    padding: 0 5px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    a{
                        color: #333;
                    }
                    i{
                        font-size: 70px;
                        font-weight: normal;
                    }
                }
            } 
        }
    }
    .vip-not{
        background: url(../../img/imgs/vip/bg-0.jpg) 50% 50% no-repeat;
        background-size: 200% 150%;

    } 
    .club-act{
        height: 140px;
        padding: 20px 0;
        #{$bgc}: #fff;
        .wrap{
            div{
                a{
                    color: #fff;
                }
                position: relative;
                float: left;
                width: 130px;
                height: 140px;
                margin: 0 2px;
                padding: 0 140px 0 30px;
                color: #fff;
                font-size: 14px;
                p{
                    height: 30px;
                    overflow: hidden;
                    padding-top: 25px;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                img{
                    width: 50%;
                    position: absolute;
                    bottom: 0px;
                    right: 20px;
                    transition: right .5s;
                }
                &:hover{
                    img{
                        right: 30px;
                    }
                }
            }
            .vip-1{
                background: url(../../img/imgs/vip/1-bg.png) no-repeat;
            }
            .vip-2{
                background: url(../../img/imgs/vip/2-bg.png) no-repeat;
            }
            .vip-3{
                background: url(../../img/imgs/vip/3-bg.png) no-repeat;
            }
            .vip-4{
                background: url(../../img/imgs/vip/4-bg.png) no-repeat;
            }
        }
    }
    .club-intro{
        h2{
            padding-top: 50px;
            text-align: center;
            border-bottom: 1px solid #eee;
            font-size: 24px;
            line-height: 1.8;
            font-weight: normal;
        }
        .club-swiper{
            padding: 0 230px;
            margin-bottom: 240px;
            position: relative;
            .intro-list{
                padding: 20px 0;
                width: 470px;
                font-size: 0;
                margin: 0 auto;
                height: 24px;
                overflow: hidden;
                position: relative;
                left: 5px;
                ul{
                    width: 1000%;
                    cursor: pointer;
                    li{
                        font-size: 16px;
                        display: inline-block;
                        padding: 0 15px;
                    }
                    .active{
                        font-size: 18px;
                        color: #be9d74;
                    }
                }
                
            }
            .intro-card{
                position: relative;
                margin-bottom: 20px;
                margin-top: 20px;
                padding-left: 0;
                padding-right: 0;
                height: 350px;
                ul{
                    padding-top: 10px;
                    position: relative;
                    height: 400px;
                    li{
                        opacity: .9;
                        position: absolute;
                        width: 250px;
                        height: 350px;
                        background: url(../../img/imgs/vip/card-bg.png) no-repeat;
                        background-size: 100% 100%;
                        box-shadow: 0 0 35px -10px #a2a2a2;
                        transition: all .3s;
                        i{
                            display: block;
                            width: 60px;
                            height: 60px;
                            padding: 8% 0 0 0;
                            font-size: 60px;
                            margin: 0 auto;
                            color: white;
                        }
                        p{
                            text-align: center;
                            padding: 10% 0 10px 0;
                            font-size: 14px;
                            span:first-child{
                                display: block;
                                line-height: 16px;
                                font-weight: bold;
                            }
                            .not-get{
                                #{$bgc}:#a2a2a2;
                                color: #fff;
                                display: inline-block;
                                border: 1px solid #a2a2a2;
                                border-radius: 15px;
                                margin-top: 10px;
                                padding: 2px 20px;
                                font-size: 12px;
                                font-weight: normal;
                            }
                            .get{
                                position: absolute;
                                #{$bgc}:#fff;
                                color: #666;
                                display: inline-block;
                                border: 1px solid #a2a2a2;
                                border-radius: 15px;
                                margin-top: 10px;
                                font-size: 12px;
                                font-weight: normal;
                                display: none;
                            }
                        }
                        .descri{
                            padding: 5% 12% 4%;
                            font-size: 12px;
                            height: 32%;
                            overflow-y: auto;
                            line-height: 18px;
                            p{
                                font-size: 12px;
                                text-align: left;
                                padding: 0;
                            }
                            a{
                                color: #be9d74
                            }
                        }
                    }
                    .card-1{
                        left: 259px;
                        z-index: 20;
                        opacity: 1;
                    }
                    .card-2{
                        left: 555px;
                        z-index: 16;
                        transform: scale(0.93);
                    }
                    .card-3{
                        left: 610px;
                        z-index: 12;
                        transform: scale(0.8);
                    }
                    .card-4{
                        left: 370px;
                        z-index: 12;
                        transform: scale(0.8);
                    }
                    .card-5{
                        left: 130px;
                        z-index: 12;
                        transform: scale(0.8);
                    }
                    .card-6{
                        left: -110px;
                        z-index: 12;
                        transform: scale(0.8);
                    }
                    .card-7{
                        left: -40px;
                        z-index: 16;
                        transform: scale(0.93);
                    }
                }
            }
            .swi-left{
                position: absolute;
                top: 50%;
                left: 0px;
                transform: rotate(180deg);
                cursor: pointer;
            }
            .swi-right{
                position: absolute;
                top: 50%;
                right: 0px;
                cursor: pointer;
            }
        }
    }
}


// 底部
.ft_top{
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    a{
        float: left;
        width: 205px;
        margin: 0 51px;
        overflow: hidden;
        img{
            float: left;
            width: 66px;
            height: 66px;
            margin-right: 15px;
        }
        b{
            display: block;
            margin-top: 10px;
            font-size: 16px;
            color: #333;
        }
        span{
            font-size: 14px;
            color: #999;
            line-height: 26px;
        }
    }
}
.ft_help{
    padding: 20px 0 20px;
    .ft_hp_list{
        float: left;
        margin-left: 15px;
        li{
            float: left;
            list-style: none;
            width: 195px;
        }
        b{
            display: block;
            height: 32px;
            font-size: 14px;
            line-height: 32px;
            color: #666;
            font-weight: bold;
            padding-left: 8px;
        }
        a{
            @extend b;
            height: 24px;
            line-height: 24px;
            padding: 0 8px;
            font-size: 12px;
            white-space: normal;
            font-weight: normal;
            &:hover{
                color: red;
            }
        } 
        &~div{
            float: left;
            margin-right: 50px;
            line-height: 32px;
            font-size: 14px;
            font-weight: bold;
            color: #666;
            img{
                width: 90px;
                height: 90px;
            }
        } 
    }  
}
.footer_link{
    p{
        color: #666;
        text-align: center;
        text-indent: 0;
        line-height: 100%;
        margin: 15px 0;
        padding: 0;
        a{
            margin: 0 10px;
            
        }

    }
    p+p+p{
        padding: 10px 0 20px;
        margin: 0;
        a{
            margin: 0 4px;
        }
    }
    
}