* {
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrap {
  width: 1228px;
  margin: 0 auto; }

li {
  list-style: none; }

body {
  font: 12px "microsoft yahei",Arial,Helvetica,sans-serif;
  color: #333;
  list-style: none; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: red; }

div, span, .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div, a, i, p, img {
  vertical-align: middle; }

.hd_header .hd-bg {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e5e5e5; }

.hd_header_top {
  min-width: 980px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .hd_header_top div, .hd_header_top span, .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top a, .hd_header_top i {
    vertical-align: middle; }
  .hd_header_top .hd_t_left, .hd_header_top .hd_place, .hd_header_top .hd_right .hd_r_l {
    float: left;
    padding: 0 10px; }
  .hd_header_top .hd_t_left > i, .hd_header_top .hd_place > i, .hd_header_top .hd_right .hd_r_l > i {
    color: red;
    font-size: 12px; }
  .hd_header_top .hd_place .fff {
    position: absolute;
    width: 100%;
    display: none;
    height: 3px;
    background-color: #fff;
    top: 28px;
    left: 0px;
    z-index: 3; }
  .hd_header_top .hd_place a i {
    font-size: 16px;
    color: red; }
  .hd_header_top .hd_place .none {
    width: 720px;
    top: 29px;
    left: -1px;
    color: #999;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    z-index: 1;
    text-align: left; }
    .hd_header_top .hd_place .none .hd_city_search {
      height: 30px;
      padding: 15px 20px 0; }
      .hd_header_top .hd_place .none .hd_city_search span, .hd_header_top .hd_place .none .hd_city_search .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_city_search div, .hd_header_top .hd_place .none .hd_city_search .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_city_search div {
        display: inline-block;
        color: #666;
        height: 28px;
        line-height: 28px;
        padding-right: 10px;
        font-weight: bold; }
      .hd_header_top .hd_place .none .hd_city_search div {
        display: inline-block; }
        .hd_header_top .hd_place .none .hd_city_search div input {
          width: 135px;
          height: 26px;
          line-height: 26px;
          padding: 0 8px 0 25px;
          vertical-align: middle;
          color: #333;
          font-size: 12px; }
        .hd_header_top .hd_place .none .hd_city_search div #txt {
          position: absolute;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid #AAA;
          padding-left: 10px;
          width: 158px;
          left: 94px;
          top: 47px;
          display: none; }
        .hd_header_top .hd_place .none .hd_city_search div .iconfont {
          position: absolute;
          top: 17px;
          left: 100px;
          font-size: 16px;
          color: #dcdcdc; }
      .hd_header_top .hd_place .none .hd_city_search .close_city, .hd_header_top .hd_place .none .hd_city_search .clearText {
        width: 20px;
        height: 20px;
        float: right;
        font: 20px "Tahoma";
        color: #ccc;
        margin-top: -8px;
        margin-right: -19px; }
        .hd_header_top .hd_place .none .hd_city_search .close_city:hover, .hd_header_top .hd_place .none .hd_city_search .clearText:hover {
          cursor: pointer; }
      .hd_header_top .hd_place .none .hd_city_search .clearText {
        font-size: 16px;
        position: absolute;
        top: 30px;
        left: 245px; }
    .hd_header_top .hd_place .none .hd_hot_city, .hd_header_top .hd_place .none .hd_letter_search {
      padding: 12px 0 5px;
      margin-left: 20px;
      border-bottom: 1px solid #e0e0e0; }
      .hd_header_top .hd_place .none .hd_hot_city span, .hd_header_top .hd_place .none .hd_letter_search span, .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div {
        float: left;
        color: #666;
        font-weight: bold;
        padding-right: 10px; }
      .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div {
        font-weight: normal;
        width: 610px; }
        .hd_header_top .hd_place .none .hd_hot_city div a, .hd_header_top .hd_place .none .hd_letter_search div a {
          white-space: nowrap;
          padding-right: 21px;
          padding-bottom: 5px; }
    .hd_header_top .hd_place .none .hd_letter_search {
      padding: 12px 0 0;
      border: none; }
      .hd_header_top .hd_place .none .hd_letter_search span, .hd_header_top .hd_place .none .hd_letter_search div {
        height: 20px;
        line-height: 20px;
        vertical-align: bottom; }
      .hd_header_top .hd_place .none .hd_letter_search a {
        float: left;
        width: 22px;
        height: 20px;
        margin: 0 5px 5px 0;
        background-color: #eee;
        line-height: 20px;
        text-align: center;
        vertical-align: middle; }
      .hd_header_top .hd_place .none .hd_letter_search .col {
        color: #fff;
        background-color: red; }
    .hd_header_top .hd_place .none .hd_city_list {
      position: relative;
      height: 245px;
      margin-left: 20px;
      margin-bottom: 10px; }
      .hd_header_top .hd_place .none .hd_city_list ul {
        position: relative;
        height: 215px;
        padding: 10px 0;
        overflow: auto;
        scroll-behavior: smooth; }
        .hd_header_top .hd_place .none .hd_city_list ul li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 30px;
          padding-left: 30px; }
          .hd_header_top .hd_place .none .hd_city_list ul li .city_screen {
            position: absolute;
            left: 3px;
            top: 2px;
            font-size: 18px;
            font-family: "Arial";
            color: #ccc; }
          .hd_header_top .hd_place .none .hd_city_list ul li .city_box {
            float: left; }
            .hd_header_top .hd_place .none .hd_city_list ul li .city_box a {
              white-space: nowrap;
              padding-right: 30px; }
  .hd_header_top .hd_right {
    float: right; }
    .hd_header_top .hd_right .hd_r_logReg a {
      color: #AAA; }
      .hd_header_top .hd_right .hd_r_logReg a + a:hover {
        color: red; }
    .hd_header_top .hd_right .hd_r_logReg span, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .hd_r_logReg div, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .hd_r_logReg div, .hd_header_top .hd_right .hd_r_logReg span + a, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_hot_city div + a, .hd_header_top .hd_place .none .hd_hot_city .hd_right .hd_r_logReg div + a, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_letter_search div + a, .hd_header_top .hd_place .none .hd_letter_search .hd_right .hd_r_logReg div + a {
      color: red; }
    .hd_header_top .hd_right .login-txt {
      float: left;
      position: relative;
      text-align: left;
      padding: 0 10px; }
      .hd_header_top .hd_right .login-txt div {
        width: 60px;
        float: right;
        position: relative; }
        .hd_header_top .hd_right .login-txt div a {
          position: absolute;
          right: 0;
          margin: 0 3px; }
          .hd_header_top .hd_right .login-txt div a span, .hd_header_top .hd_right .login-txt div a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt div a div, .hd_header_top .hd_right .login-txt div a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt div a div {
            padding: 2px 5px;
            margin-right: 5px;
            background-color: red;
            color: #fff;
            border-radius: 20px; }
          .hd_header_top .hd_right .login-txt div a i {
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border-top: 2px solid #AAA;
            border-left: 2px solid #AAA;
            border-radius: 2px; }
      .hd_header_top .hd_right .login-txt:hover {
        background-color: #fff;
        border: 1px solid #CCC;
        border-top: none; }
        .hd_header_top .hd_right .login-txt:hover .vip i {
          transform: rotate(45deg); }
        .hd_header_top .hd_right .login-txt:hover .hd-user-privilege {
          display: block; }
      .hd_header_top .hd_right .login-txt .hd-user-privilege {
        position: absolute;
        z-index: 100;
        top: 29px;
        left: -1px;
        display: none;
        width: 260px;
        height: 174px;
        padding: 15px;
        border: 1px solid #dbdbdb;
        background-color: #fff; }
        .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top {
          width: 260px;
          height: 90px;
          position: relative; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child {
            position: absolute;
            width: 60px;
            height: 60px;
            left: 0;
            border-radius: 50%;
            padding: 3px;
            border: 1px solid #CCC; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a {
              position: absolute;
              left: 90px;
              top: 5px; }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a div {
                color: #333;
                background-color: #fff; }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a {
                position: absolute;
                left: 90px;
                top: 30px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a div {
                  padding: 2px 5px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a {
                  margin: -15px -15px 0 0; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a div {
                    color: #ccc;
                    background-color: #fff; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top img {
            border-radius: 50%;
            width: 60px;
            height: 60px; }
        .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot {
          width: 260px;
          height: 90px; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p {
            width: 240px;
            margin: 0 auto;
            border-top: 1px solid #ccc;
            position: relative; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot p div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot p div {
              position: absolute;
              left: 50%;
              top: -15px;
              transform: translateX(-50%);
              background-color: #fff;
              padding: 0 10px; }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p span i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_hot_city div i, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot p div i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_letter_search div i, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot p div i {
                font-style: normal;
                vertical-align: bottom;
                margin: 0 3px; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item {
            width: 260px;
            height: 85px;
            position: relative; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child {
              float: left;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              vertical-align: middle;
              transform: rotate(180deg); }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div {
                float: left;
                width: 100%;
                padding: 20px 0px 0 20px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div {
                  float: left;
                  text-align: center; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div em {
                    font-style: normal;
                    line-height: 16px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div {
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 1px solid red;
                  text-align: center;
                  vertical-align: middle;
                  white-space: normal; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div span i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_hot_city div i, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_letter_search div i, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div i {
                    font-size: 24px;
                    color: red;
                    line-height: 40px; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:last-child {
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 20px; }
    .hd_header_top .hd_right .hd_r_l {
      padding: 0 10px; }
    .hd_header_top .hd_right .hd_myOrder .iconfont {
      color: #AAA;
      font-size: 14px; }
    .hd_header_top .hd_right .hd_myOrder:hover .iconfont {
      color: red; }
  .hd_header_top .hd_client:hover .none {
    display: block; }
  .hd_header_top .hd_client i {
    width: 4px;
    height: 4px;
    display: inline-block;
    transform: rotate(-135deg);
    transition: all .3s;
    transform-origin: 2px 2px;
    border-top: 2px solid #AAA;
    border-left: 2px solid #AAA;
    border-radius: 2px; }
  .hd_header_top .hd_client:hover i {
    transform: rotate(45deg); }
  .hd_header_top .hd_client .none {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 86px;
    padding: 5px 0;
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: #fff;
    text-align: left; }
    .hd_header_top .hd_client .none a {
      display: block;
      line-height: 26px;
      padding-left: 10px;
      color: #333; }
      .hd_header_top .hd_client .none a:hover {
        color: red; }
  .hd_header_top .hd_relative {
    position: relative;
    z-index: 2; }
  .hd_header_top .none {
    display: none;
    position: absolute; }
  .hd_header_top .app .none {
    position: absolute;
    top: 30px;
    left: -10px;
    padding: 15px 9px 9px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5; }
    .hd_header_top .app .none p {
      line-height: 18px; }
    .hd_header_top .app .none::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      left: 50%;
      margin-left: -5px;
      top: -4.5px;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      transform: rotate(45deg); }
  .hd_header_top .app .iconfont {
    font-size: 24px; }
  .hd_header_top .app:hover .none {
    display: block; }

.head-top {
  position: relative;
  height: 90px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff; }
  .head-top .club-logo {
    float: left;
    position: absolute;
    width: 214px;
    height: 32px;
    overflow: hidden;
    margin: 33px 0 0 10px; }
    .head-top .club-logo img {
      width: 100%; }
  .head-top ul {
    float: right;
    width: 800px;
    padding: 34px 100px 0 0px; }
    .head-top ul li {
      float: left;
      height: 36px;
      margin-right: 50px;
      padding: 0 10px;
      font-family: "microsoft yahei";
      font-size: 16px;
      line-height: 36px; }

.content .club-nav {
  position: relative;
  height: 580px;
  background: url(../../img/imgs/vip/bg.jpg) 50% 50% no-repeat;
  background-size: 200% 150%; }
  .content .club-nav .vip-login {
    padding-top: 50px;
    text-align: center; }
    .content .club-nav .vip-login .vip-login-left {
      float: left;
      box-sizing: border-box;
      width: 252px;
      height: 472px;
      border: 0 none;
      background-color: #fff;
      opacity: .6;
      padding: 10px; }
      .content .club-nav .vip-login .vip-login-left .userName {
        box-sizing: border-box;
        font-size: 18px;
        color: #000;
        margin-top: 33px;
        height: 28px;
        overflow: hidden;
        line-height: 28px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .content .club-nav .vip-login .vip-login-left .userName span, .content .club-nav .vip-login .vip-login-left .userName .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .userName div, .content .club-nav .vip-login .vip-login-left .userName .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .userName div {
          box-sizing: border-box;
          vertical-align: bottom; }
      .content .club-nav .vip-login .vip-login-left .userImg {
        position: relative;
        border-radius: 50%;
        width: 76px;
        height: 76px;
        overflow: hidden;
        margin: 24px auto;
        box-shadow: 0 0 5px 0px #333; }
        .content .club-nav .vip-login .vip-login-left .userImg img {
          position: absolute;
          left: -1px;
          width: 76px;
          height: 76px;
          border: 1px solid #fff;
          border-radius: 50%;
          transform-origin: center center;
          transition: all .5s; }
          .content .club-nav .vip-login .vip-login-left .userImg img:hover {
            transform: scale(1.05); }
      .content .club-nav .vip-login .vip-login-left .reg-time {
        font-size: 14px;
        color: #000; }
        .content .club-nav .vip-login .vip-login-left .reg-time span, .content .club-nav .vip-login .vip-login-left .reg-time .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .reg-time div, .content .club-nav .vip-login .vip-login-left .reg-time .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .reg-time div {
          font-size: 14px;
          font-weight: bold;
          vertical-align: bottom; }
      .content .club-nav .vip-login .vip-login-left .gold {
        padding-top: 30px;
        box-sizing: border-box; }
        .content .club-nav .vip-login .vip-login-left .gold span, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .gold div, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .gold div {
          display: block;
          width: 115px;
          float: left;
          color: #333;
          font-weight: bold;
          font-size: 22px; }
          .content .club-nav .vip-login .vip-login-left .gold span:first-child, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_hot_city div:first-child, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .gold div:first-child, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_letter_search div:first-child, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .gold div:first-child {
            border-right: 1px solid #AAA9b9; }
          .content .club-nav .vip-login .vip-login-left .gold span a, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_hot_city div a, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .gold div a, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_letter_search div a, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .gold div a {
            display: block; }
            .content .club-nav .vip-login .vip-login-left .gold span a em, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_hot_city div a em, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .gold div a em, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_letter_search div a em, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .gold div a em {
              font-style: normal;
              font-size: 12px; }
            .content .club-nav .vip-login .vip-login-left .gold span a i, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_hot_city div a i, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .gold div a i, .content .club-nav .vip-login .vip-login-left .gold .hd_header_top .hd_place .none .hd_letter_search div a i, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .gold div a i {
              font-size: 30px;
              font-weight: normal; }
      .content .club-nav .vip-login .vip-login-left .red {
        position: relative;
        padding: 20px 40px 15px;
        font-size: 12px; }
        .content .club-nav .vip-login .vip-login-left .red a {
          padding: 10px;
          background-color: red;
          color: #fff;
          border-radius: 20px;
          display: block; }
        .content .club-nav .vip-login .vip-login-left .red img {
          position: absolute;
          right: -205px;
          top: -40px;
          width: 240px;
          z-index: 100;
          display: none; }
        .content .club-nav .vip-login .vip-login-left .red:hover img {
          display: block; }
      .content .club-nav .vip-login .vip-login-left .red + span, .content .club-nav .vip-login .vip-login-left .hd_header_top .hd_place .none .hd_hot_city .red + div, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-left .red + div, .content .club-nav .vip-login .vip-login-left .hd_header_top .hd_place .none .hd_letter_search .red + div, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-left .red + div {
        font-size: 12px;
        color: #333; }
    .content .club-nav .vip-login .vip-login-right {
      position: relative;
      float: right;
      width: 975px;
      height: 472px; }
      .content .club-nav .vip-login .vip-login-right .level li {
        width: 130px;
        height: 250px;
        float: left;
        position: relative;
        padding-top: 20px;
        margin: 0 10px; }
        .content .club-nav .vip-login .vip-login-right .level li i {
          width: 50px;
          background-color: #666;
          font-size: 12px;
          color: #fff;
          border-radius: 20px;
          padding: 8px 10px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-style: normal; }
          .content .club-nav .vip-login .vip-login-right .level li i::after {
            content: " ";
            display: block;
            position: absolute;
            bottom: -5px;
            left: 50%;
            width: 0px;
            height: 0px;
            transform: rotate(45deg) translateX(-50%);
            border: 5px solid #666;
            border-color: transparent  #666 #666 transparent; }
        .content .club-nav .vip-login .vip-login-right .level li img {
          width: 130px;
          height: 130px;
          position: absolute;
          top: 55px;
          left: 0px; }
        .content .club-nav .vip-login .vip-login-right .level li img:hover {
          animation: swing .7s infinite; }
@keyframes swing {
  25% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }
        .content .club-nav .vip-login .vip-login-right .level li div {
          width: 100%;
          position: absolute;
          bottom: 0px;
          font-size: 14px; }
          .content .club-nav .vip-login .vip-login-right .level li div span, .content .club-nav .vip-login .vip-login-right .level li div .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .content .club-nav .vip-login .vip-login-right .level li div div, .content .club-nav .vip-login .vip-login-right .level li div .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .content .club-nav .vip-login .vip-login-right .level li div div {
            font-weight: bold; }
      .content .club-nav .vip-login .vip-login-right .level .small {
        transform: scale(0.9); }
      .content .club-nav .vip-login .vip-login-right .level .big {
        transform: scale(1.1); }
      .content .club-nav .vip-login .vip-login-right .font {
        position: absolute;
        bottom: 0px;
        left: 40px;
        width: 910px;
        overflow: hidden;
        margin: 0 auto;
        padding: 30px 0 25px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(221, 167, 170, 0.3); }
        .content .club-nav .vip-login .vip-login-right .font li {
          float: left;
          text-align: center; }
          .content .club-nav .vip-login .vip-login-right .font li a {
            display: inline-block;
            width: 90px;
            font-size: 16px;
            margin: 0 20px;
            color: #fff;
            transition: color .3s; }
            .content .club-nav .vip-login .vip-login-right .font li a i {
              font-size: 70px; }
          .content .club-nav .vip-login .vip-login-right .font li .col {
            color: #ff7364; }
          .content .club-nav .vip-login .vip-login-right .font li .purple {
            color: #6b6b90; }
          .content .club-nav .vip-login .vip-login-right .font li .green {
            color: #bc9148; }
          .content .club-nav .vip-login .vip-login-right .font li .modena {
            color: #203c7a; }
  .content .club-nav .vip-not-login {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 92px; }
    .content .club-nav .vip-not-login .img-bor {
      margin: 0px auto;
      display: block;
      width: 100px;
      height: 100px;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px;
      box-sizing: border-box; }
      .content .club-nav .vip-not-login .img-bor img {
        width: 100%;
        border-radius: 50%; }
    .content .club-nav .vip-not-login p {
      height: 24px;
      padding: 14px 0 26px;
      color: #333;
      font-size: 16px;
      text-align: center;
      line-height: 24px; }
    .content .club-nav .vip-not-login .login-btn {
      display: block;
      width: 280px;
      height: 50px;
      margin: 0 auto;
      background-color: #333;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      line-height: 50px;
      box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
      animation: flashing 3s infinite; }
@keyframes flashing {
  25% {
    background-color: #000; }
  50% {
    background-color: #333; }
  75% {
    background-color: #000; }
  100% {
    background-color: #333; } }
    .content .club-nav .vip-not-login ul {
      display: inline-block;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      padding-top: 75px; }
      .content .club-nav .vip-not-login ul li {
        float: left;
        width: 100px;
        padding: 0 5px;
        text-align: center;
        font-size: 16px;
        font-weight: bold; }
        .content .club-nav .vip-not-login ul li a {
          color: #333; }
        .content .club-nav .vip-not-login ul li i {
          font-size: 70px;
          font-weight: normal; }
.content .vip-not {
  background: url(../../img/imgs/vip/bg-0.jpg) 50% 50% no-repeat;
  background-size: 200% 150%; }
.content .club-act {
  height: 140px;
  padding: 20px 0;
  background-color: #fff; }
  .content .club-act .wrap div {
    position: relative;
    float: left;
    width: 130px;
    height: 140px;
    margin: 0 2px;
    padding: 0 140px 0 30px;
    color: #fff;
    font-size: 14px; }
    .content .club-act .wrap div a {
      color: #fff; }
    .content .club-act .wrap div p {
      height: 30px;
      overflow: hidden;
      padding-top: 25px;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 10px; }
    .content .club-act .wrap div img {
      width: 50%;
      position: absolute;
      bottom: 0px;
      right: 20px;
      transition: right .5s; }
    .content .club-act .wrap div:hover img {
      right: 30px; }
  .content .club-act .wrap .vip-1 {
    background: url(../../img/imgs/vip/1-bg.png) no-repeat; }
  .content .club-act .wrap .vip-2 {
    background: url(../../img/imgs/vip/2-bg.png) no-repeat; }
  .content .club-act .wrap .vip-3 {
    background: url(../../img/imgs/vip/3-bg.png) no-repeat; }
  .content .club-act .wrap .vip-4 {
    background: url(../../img/imgs/vip/4-bg.png) no-repeat; }
.content .club-intro h2 {
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 24px;
  line-height: 1.8;
  font-weight: normal; }
.content .club-intro .club-swiper {
  padding: 0 230px;
  margin-bottom: 240px;
  position: relative; }
  .content .club-intro .club-swiper .intro-list {
    padding: 20px 0;
    width: 470px;
    font-size: 0;
    margin: 0 auto;
    height: 24px;
    overflow: hidden;
    position: relative;
    left: 5px; }
    .content .club-intro .club-swiper .intro-list ul {
      width: 1000%;
      cursor: pointer; }
      .content .club-intro .club-swiper .intro-list ul li {
        font-size: 16px;
        display: inline-block;
        padding: 0 15px; }
      .content .club-intro .club-swiper .intro-list ul .active {
        font-size: 18px;
        color: #be9d74; }
  .content .club-intro .club-swiper .intro-card {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    height: 350px; }
    .content .club-intro .club-swiper .intro-card ul {
      padding-top: 10px;
      position: relative;
      height: 400px; }
      .content .club-intro .club-swiper .intro-card ul li {
        position: absolute;
        width: 250px;
        height: 350px;
        background: url(../../img/imgs/vip/card-bg.png) no-repeat;
        background-size: 100% 100%;
        box-shadow: 0 0 35px -10px #a2a2a2;
        transition: all .3s; }
        .content .club-intro .club-swiper .intro-card ul li i {
          display: block;
          width: 60px;
          height: 60px;
          padding: 8% 0 0 0;
          font-size: 60px;
          margin: 0 auto;
          color: white; }
        .content .club-intro .club-swiper .intro-card ul li p {
          text-align: center;
          padding: 10% 0 10px 0;
          font-size: 14px; }
          .content .club-intro .club-swiper .intro-card ul li p span:first-child, .content .club-intro .club-swiper .intro-card ul li p .hd_header_top .hd_place .none .hd_hot_city div:first-child, .hd_header_top .hd_place .none .hd_hot_city .content .club-intro .club-swiper .intro-card ul li p div:first-child, .content .club-intro .club-swiper .intro-card ul li p .hd_header_top .hd_place .none .hd_letter_search div:first-child, .hd_header_top .hd_place .none .hd_letter_search .content .club-intro .club-swiper .intro-card ul li p div:first-child {
            display: block;
            line-height: 16px;
            font-weight: bold; }
          .content .club-intro .club-swiper .intro-card ul li p .not-get {
            background-color: #a2a2a2;
            color: #fff;
            display: inline-block;
            border: 1px solid #a2a2a2;
            border-radius: 15px;
            margin-top: 10px;
            padding: 2px 20px;
            font-size: 12px;
            font-weight: normal; }
          .content .club-intro .club-swiper .intro-card ul li p .get {
            position: absolute;
            background-color: #fff;
            color: #666;
            display: inline-block;
            border: 1px solid #a2a2a2;
            border-radius: 15px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: normal;
            display: none; }
        .content .club-intro .club-swiper .intro-card ul li .descri {
          padding: 5% 12% 4%;
          font-size: 12px;
          height: 32%;
          overflow-y: auto;
          line-height: 18px; }
          .content .club-intro .club-swiper .intro-card ul li .descri p {
            font-size: 12px;
            text-align: left;
            padding: 0; }
          .content .club-intro .club-swiper .intro-card ul li .descri a {
            color: #be9d74; }
      .content .club-intro .club-swiper .intro-card ul .card-1 {
        left: 259px;
        z-index: 20; }
      .content .club-intro .club-swiper .intro-card ul .card-2 {
        left: 555px;
        z-index: 16;
        transform: scale(0.93); }
      .content .club-intro .club-swiper .intro-card ul .card-3 {
        left: 610px;
        z-index: 12;
        transform: scale(0.8); }
      .content .club-intro .club-swiper .intro-card ul .card-4 {
        left: 370px;
        z-index: 12;
        transform: scale(0.8); }
      .content .club-intro .club-swiper .intro-card ul .card-5 {
        left: 130px;
        z-index: 12;
        transform: scale(0.8); }
      .content .club-intro .club-swiper .intro-card ul .card-6 {
        left: -110px;
        z-index: 12;
        transform: scale(0.8); }
      .content .club-intro .club-swiper .intro-card ul .card-7 {
        left: -40px;
        z-index: 16;
        transform: scale(0.93); }
  .content .club-intro .club-swiper .swi-left {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: rotate(180deg);
    cursor: pointer; }
  .content .club-intro .club-swiper .swi-right {
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer; }

.ft_top {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb; }
  .ft_top a {
    float: left;
    width: 205px;
    margin: 0 51px;
    overflow: hidden; }
    .ft_top a img {
      float: left;
      width: 66px;
      height: 66px;
      margin-right: 15px; }
    .ft_top a b, .ft_top a .ft_help .ft_hp_list a, .ft_help .ft_hp_list .ft_top a a {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      color: #333; }
    .ft_top a span, .ft_top a .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .ft_top a div, .ft_top a .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .ft_top a div {
      font-size: 14px;
      color: #999;
      line-height: 26px; }

.ft_help {
  padding: 20px 0 20px; }
  .ft_help .ft_hp_list {
    float: left;
    margin-left: 15px; }
    .ft_help .ft_hp_list li {
      float: left;
      list-style: none;
      width: 195px; }
    .ft_help .ft_hp_list b, .ft_help .ft_hp_list a {
      display: block;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      color: #666;
      font-weight: bold;
      padding-left: 8px; }
    .ft_help .ft_hp_list a {
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      font-size: 12px;
      white-space: normal;
      font-weight: normal; }
      .ft_help .ft_hp_list a:hover {
        color: red; }
    .ft_help .ft_hp_list ~ div {
      float: left;
      margin-right: 50px;
      line-height: 32px;
      font-size: 14px;
      font-weight: bold;
      color: #666; }
      .ft_help .ft_hp_list ~ div img {
        width: 90px;
        height: 90px; }

.footer_link p {
  color: #666;
  text-align: center;
  text-indent: 0;
  line-height: 100%;
  margin: 15px 0;
  padding: 0; }
  .footer_link p a {
    margin: 0 10px; }
.footer_link p + p + p {
  padding: 10px 0 20px;
  margin: 0; }
  .footer_link p + p + p a {
    margin: 0 4px; }

/*# sourceMappingURL=yhd.css.map */
