body{
    list-style: none;
    background-color: #f8f8f8;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart-content{
    background: url(../img/cart-bg.png)no-repeat top center fixed;
}
.cart-heard{
    height: 60px;
    padding-top: 10px;
}
.cart-heard h1{
    float: left;
}
.logo{
    float: left;
    padding-top: 17px;
    width: 40px;
    height: 28px;
    margin-right: 10px;
    background: url(../img/cart-logo.png)no-repeat bottom;
}
.logo-text{
    float: left;
    padding-top: 8px;
    width: 73px;
    height: 40px;
    margin-right: 10px;
    background: url(../img/logo_txt.png) no-repeat 0 20px;
}
/* 城市选择 */
.area{
    float: left;
    height: 26px;
    width: 235px;
    padding-top: 18px;
    padding-left: 10px;
    line-height: 26px;
}
.area-text{
    float: left;
}
.area-select{
    float: left;
    position: relative;
    top: 0;
}
.address{
    position: absolute;
    z-index: 1009;
    height: 22px;
    line-height: 22px;
    padding: 2px 38px 2px 11px;
    border: 1px solid #eceaea;
    border-radius: 5px;
    background: #fcfbfb;
    cursor: pointer;
}
.select{
    position: relative;
    z-index: 1;
    border-bottom:none ;
}
.address-text{
    color: #666;
    white-space: nowrap;
}
.address-text i{
    margin: 0 9px;
}
.address-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 6px;
    background: url(../img/cart-sprite.png) -60px -25px;
    transition: transform .2s;
}
/* 城市隐藏 */
.tab-box{
    display: none;
    position: absolute;
    top: -8px;
    left: -9px;
    padding: 5px 10px;
    width: 335px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 2;
}
.close{
    transition: transform 0.2s;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 13px;
    height: 13px;
    background: url(../img/cart-sprite.png) -66px -11px;
}
.close:hover{
    transform: rotate(180deg);
}
.tabs{
    border-bottom: 1px solid #e5e5e5;
    height: 32px;
}
.tabs span{
    position: relative;
    float: left;
    padding: 0px 10px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-left: -1px;
    background: #f7f7f7;
    cursor: pointer;
}
.area-box{
    padding-top: 10px;
}
/* 右侧输入框 */
.search{
    float: right;
    width: 260px;
    height: 20px;
    padding: 5px 10px;
    margin: 15px 0;
    border: 1px solid #eceaea;
    border-radius: 5px;
    background: #fcfbfb;
}
.search input{
    float: left;
    width: 230px;
    height: 20px;
    border: none;
    background: #fcfbfb;
    color: #666;
    outline: none;
}
.search .search-btn{
    font-size: 18px;
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
    color: #aaa;
    overflow: hidden;
    line-height: 20px;
}
/* 购物车商品 */
.cart-list-heard{
    margin: 10px auto;
    padding: 0 30px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: #fff;
    color: #666;
    line-height: 40px;
}
.cart-span span{
    display: inline-block;
}
.checkbox{
    width: 125px;
    cursor: pointer;
}
.check1,.check2,.check3,.check4{
    width: 0;
    margin-right: 40px;
}
input[type=checkbox]::after{
    vertical-align: middle;
    outline: none;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: inline-block;
    width: 13px;
    height: 13px; 
    content: ' ';
    border-radius: 3px
}      
input[type=checkbox]:checked::after{
    line-height: 13px;
    background-color: #ff5e5e;
    border-color: #ff5e5e;
    outline: none;
    content: "✓";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.cart-span .pri{
    width: 435px;
    text-align: right;
}
.cart-span .num{
    width: 280px;
    text-align: center;
}
.cart-span .total{
    width: 110px;
    text-align: right;
}
.cart-span .operation{
    width: 90px;
    text-align: right;
}
.cart-list {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin-top: 20px;
}
.cart-list .cart-tit {
    padding: 15px 30px;
    height: 25px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 25px;
}
.checkbox1{
    cursor: pointer;
    font-size: 14px;
}
.cart-list-goods{
    padding: 0 30px;
}
.cart-items{
    border-bottom: none;
}
.cart-goods-activity{
    margin: 0 -30px;
    padding: 0 30px;
    background-color: #fff;
}
.cart-goods-activity:hover{
    background-color: #fff7f7;
}
.goods-items{
    position: relative;
    padding: 20px 0 20px 35px;
}
.check3{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
}
.goods-items-img{
    position: relative;
    z-index: 3;
    float: left;
    width: 75px;
    height: 75px;
}
.goods-items-img img{
    max-width: 75px;
    max-height: 75px;
    border: 0 none;
    vertical-align: top;
}
.goods-items-title{
    float: left;
    width: 260px;
    height: 40px;
    padding-top: 4px;
    padding-left: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}
.goods-items-price{
    position: relative;
    float: left;
    width: 200px;
    padding-top: 2px;
    padding-right: 5px;
    line-height: 24px;
    text-align: right;
}
.goods-items-num{
    position: relative;
    float: left;
    width: 205px;
}
.num-act{
    float: right;
    padding: 3px 0;
    width: 80px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
}

.num-span{

    /* display: inline-block; */
    cursor: pointer;
    float: left;
    width: 20px;
    text-align: center;
    color: #666;
    font-family: 'Tahoma';
    font-size: 14px;
    overflow: hidden;
}
.unable{
    color: #dfdfdf;
    cursor: default;
}
.goods-num{
    float: left;
    width: 38px;
    height: 18px;
    border: none;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    text-align: center;
    line-height: 18px;
    outline: none;
}
.item-amount{
    float: left;
    width: 120px;
    padding-left: 75px;
    padding-right: 60px;
    padding-top: 1px;
    text-align: right;
    line-height: 24px;
    font-family: 'Tahoma';
    font-weight: bold;
    color: #333;
}
.goods-amount{
    height: 50px;
    padding-right: 25px;
    border-top: 1px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fefcfc;
    text-align: right;
}
.amount{
    float: right;
    height: 50px;
    padding-left: 20px;
}
.amount span,.amount em{
    color: #ff5e5e;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Tahoma';
}
.amount em{
    font-size: 12px;
}
.goods-del{
    position: relative;
    float: left;
    width: 80px;
    padding-top: 2px;
    line-height: 24px;
    text-align: center;
}
.icon-tubiao110:before {
    content: "\e633";
  }
  .goods-del a{
    padding: 0 3px;
  }
  .goods-del a i{
    font-size: 20px;
    color: #afafaf;
  }
  .goods-del a i:hover{
      color: #c00;
  }
/* 计算总价 */
.goods-total{
    position: relative;
    z-index: 333;
    height: 60px;
    margin-top: 20px;
}
.goods-total{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.pay-l{
    float: left;
    width: 600px;
    height: 16px;
    padding: 22px 0px;
    line-height: 16px;
    font-size: 16px;
    color: #dedede;
    overflow: hidden;
}
.select-all{
    float: left;
    /* display: inline-block; */
    margin: 0 18px 0 30px;
}
.check4{
    float: left;
}
.select-check{
    float: left;
    color: #333;
    font-size: 12px;
    cursor: pointer;
}
.select-check b{
    color: #ff5e5e;
    font-family: 'Tahoma';
}
.delect{
    margin: 0px 18px;
    font-size: 12px;
    color: #999;
}
.pay-r{
    float: right;
    width: 600px;
    height: 60px;
    line-height: 60px;
}

.pay-btn{
    cursor: pointer;
    float: right;
    /* display: inline-block; */
    width: 110px;
    text-align: center;
    background-color: #ccc;
    font-family: 'microsoft yahei';
    font-weight: bold;
    font-size: 17px;
    color: #fff;
}
.price-r{
    position: relative;
    float: right;
    height: 60px;
    padding-right: 20px;
    margin: -3px 15px 0 15px;
    font-size: 13px;
    overflow: hidden;
}
.r-count{
    position: relative;
    top: 1px;
    font-size: 16px;
    color: #ff5e5e;
    font-weight: bold;
}
.r-count b{
    margin-left: 2px;
    font-size: 22px;
}
.view-r{
    position: relative;
    float: right;
    height: 60px;
    font-size: 16px;
    color: #dedede;
}
.view-r span{
    font-size: 12px;
    color: #333;
}
.view-r span b{
    margin: 0px 2px;
    color: #ff5e5e;
    font-family: 'Tahoma';
}
/* 购物车为空时显示 */
.cart-empty{
    display: none;
    background: #f8f8f8;
    padding: 50px 0;
}
.no-pro{
    width: 550px;
    height: 300px;
    margin: 0 auto;
}
.house{
    float: left;
}
.house img{
    width: 300px;
    height: 300px;
}
.inof{
    float: left;
    vertical-align: middle;
    text-align: left;
    padding-top: 120px;
}
.inof p{
    padding-left: 5px;
    font-size: 14px;
    font-family: 'sumhei';
    line-height: 24px;
}
.shopping-btn{
    padding-top: 25px;
    text-align: left;
}
.shopping-btn a{
    display: inline-block;
    width: 75px;
    height: 26px;
    margin: 0 5px;
    border: 1px solid #ff5e5e;
    border-radius: 2px;
    background-color: #ff6c6c;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
.shopping-btn a:hover{
    background-color: #ff5e5e;
}
/* 猜你喜欢 */
.youlike{
    width: 1200px;
    margin: 20px auto 0;
}
.top-title{
    text-align: center;
    font-size: 16px;
    height: 40px;
    padding-right: 10px;
    line-height: 40px;
    color: #ff9841;
}
.youlike-top p{
    line-height: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #999;
}
/*箭头 */
.dian i{
    color: #e5e5e5; 
    cursor: default;
    font-size: 30px;
}
.swiper-button-prev{
    transform: rotate(180deg);
}
.icon-jiantou:before {
    content: "\e63f";
}
/* 小圆点 */
.swiper-pagination span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.swiper-pagination .swiper-pagination-bullet-active{
    width: 18px;
    background-color: #ff5e5e;
}
/* 猜你喜欢商品 */

.like-prod{
    position: relative;
    padding: 41px 40px 10px 100px;
    margin-bottom: 50px;
    width: 1040px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;
}
.goods-box{
    width: 1040px;
    overflow: hidden;
}
.swiper-slide li{
    list-style: none;
    float: left;
    width: 150px;
    margin-right: 58px;
    margin-bottom: 25px;
}
.goods-box  li .goods{
    margin-bottom: 20px;
}
.goods-img{
    position: relative;
    width: 150px;
    height: 150px;
}
.goods-img img{
    width: 150px;
    height: 150px;
}
/* 购物车 */
.add-cart{
    position: absolute;
    right: -5px;
    bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 14px;
    display: none;
    /* opacity: 0; */
    /* filter: alpha(opacity=0); */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}
.add-cart-inner{
    position: relative;
    z-index: 2;
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(243, 116, 116);
    line-height: 30px;
    color: #fff;
    overflow: hidden;
}
.ok{
    color: rgb(243, 116, 116);
    display: none;
    position: absolute;
    bottom: 50px;
    left: 10%;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border: 1px solid gray;
}
.icon-gouwuche:before {
    content: "\e622";
  }
  .add-cart-inner i{
    padding-top: 1px;
    height: 29px;
    font-size: 20px;
  }
  .cart-txt{
      text-align: center;
    /* display: none; */
    line-height: 30px;
  }
  .swiper-slide li:hover .add-cart{
      display: block;
  }
  .add-cart-inner:hover{
    width: auto;
    padding: 0px 8px;
    line-height: 10px;
    text-align: center;
  }
  .add-cart-inner:hover.add-cart-inner i{
    opacity: 0; 
  }
  .add-cart-inner:hover .cart-tit{
      display: block;
  }
  /* 附上去添加的类名 add-cart-show*/
  .add-cart-show .p{
     width: auto;
    padding: 0 10px; 
  }
.goods-text{
    margin: 8px 0;
    text-align: center;
}
.goods-text p{
    width: 150px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff5e5e;
}
.p-pirce b{
    font-family: 'Tahoma';
    font-size: 13px;
}