*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: #f6f6f6;
}
a{
    cursor: pointer;
}
.wrap{
    margin: 0 auto;
    width: 1228px !important;
}
.clearfix::after{
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.pro-heard{
    background-color: #fff;
}
.pro-top{
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
}
.heard{
    padding: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    height: 60px;
}
.f1{
    float: left;
}
.icon-one{
    display: block;
    float: left;
    width: 80px;
    height: 56px;
    margin-top: 2px;
}
.icon-lef img{
    width: 80px;
    height: 56px;
}
.icon-two{
    display: block;
    float: left;
    width: 120px;
    height: 60px;
    margin-left: 40px;
}
.heard-car{
    position: relative;
    z-index:0;
    float: right;
    width: 130px;
    margin-top: 10px;
    background-color: #fff;
}
.car{
    background-color: #fff;
    display: block;
    width: 130px;
    border: 1px solid #d7d7d7;
    line-height: 20px;
    text-align: center;
    height: 20px;
    color: #666;
    font-size: 16px;
    padding: 9px 0 ;
    font-weight: 400;
}
.car .car-ico{
    margin-right: 12px;
    font-size: 20px;
}
.car:hover{
    color:black;
}
/* 右侧输入框 */
.heard-inp{
    float: right;
    border: 1px solid #eee;
    background: #f8f8f8;
    margin-right: 20px;
    margin-top: 10px;
}
.inp-bg{
    background-color: #fff;
}
.heard-inp:hover{
    border: 1px solid #d7d7d7;
}
.input
{
    width: 130px;
    width: 130px;
    outline: none;
    height: 38px;
    border: 0;
    background: #f8f8f8;
    padding-left: 10px;
}
 .heard-inp .inp-icon{
    padding: 10px 10px;
    cursor: pointer;
    color: #d7d7d7;
    font-size: 20px;
    position: relative;
    top: 2px;
}
.heard .focusd {
    background-color: #fff;
}
.inp-icon:hover{
    color: #ababab;
}
.postion{
    z-index: 110;
    position: fixed;
    top: 0;
}
.super-con{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
    width: 100%;
    background-color: #fff;
}
.super-nav{
    background: #fff;
    height: 44px;
    position: relative;
}

.nav-left{
    font-size: 0;
    /* 解决换行符导致的间隙 */
    float: left;
}
.nav-left .active{
    background: #ff4040;
    color: #fff;
}
.nav-left a{
    width: 120px;
    height: 100%;
    display: inline-block;
    line-height: 44px;
    font-size: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.nav-right{
    float: right;
}

.nav-right a{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    margin-left: 32px;
    color: #666;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
}
.nav-right .active{
    color: #ff4040;
    font-weight: bold;
}
.nav-right a:hover{
    color: #ff4040;
}
.super-bottom{
    margin-bottom: 86px;
    overflow: hidden;
}
.bottom-line{
   width: 436px;
   height: 2px;
   background: #ddd;
   display: inline-block;
   vertical-align: middle;
}
.bottom-center{
   font-size: 14px;
   color: #666;
   text-align: center;
   margin: 0 33px;
   vertical-align: middle;
   width: 280px;
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
}
/* 商品 */
.food-container{
    background:url(../img/pro-img/food_bg.png) no-repeat 0 -190px ;
}
.care-container{
    background-color: #f9f9f9;
    padding-bottom: 70px;
    min-width: 980px;
}
.food-wrap{
    position: relative;
    margin: 0 auto;
    width: 1165px;
}
.topinof{
    position: relative;
    padding-top: 60px;
    height: 100px;
    color: #fff;
    text-align: center;
}
.title{
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    background-image: url(../img/pro-img/word_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    letter-spacing: 20px;
    text-indent: 20px;
}

/* 自营 */
.checkbox{
    position: absolute;
    top: 60px;
    right: 0;
    bottom: auto;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}
.box{
    cursor: pointer;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 5px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.1);
}
.box:hover{
    background-color: rgba(255,255,255,0.2);
}
.box .box-icon{
    display: none;
    float: left;
    line-height: 16px;
    height: 16px;
}
.block-box .box-icon{   
    display: block;
}
/* 商品主体 抢购中 */
.content-title{
    height: 30px;
    line-height: 30px;
    padding: 40px 0;
    font-size: 24px;
    color: #4e2524;
    text-align: center;
    background: url(../img/pro-img/list-title_bg.png) no-repeat center;
}
.food-list{
    margin-right: -10px;
}
.food-list li{
    position: relative;
    float: left;
    width: 282px;
    height: 398px;
    margin: 0 10px 10px 0;
    background-color: #fff;
}
/* 即将开始 */
.comming-title{
    background-size: 160px;
}
.comming_list{
    margin-right: -10px;
}
.comming_list li{
    position: relative;
    float: left;
    width: 282px;
    height: 398px;
    margin: 0 10px 10px 0;
    background-color: #fff;
}
.sell-num{
    font-size: 14px;
    color: #8c8c8c;
    text-align: center;
}
.sell-pirce{
    width: 100%;
    text-align: center;
}
.comming_list li:hover .bottom-con{
    top: -35px;
}  
.comming_list li:hover .btn{
    height: 40px;
}
.inner{
    position: relative;
    overflow: hidden;
    padding: 20px;
    height: 358px;
}
.pro-img{
    position: relative;
    display: block;
    width: 242px;
    height: 242px;
}
.pro-img img{
    width: 100%;
    height: 100%;
}
.pro-img:hover{
    transform: scale(1.01);
    transition:all .1s linear;
}
.pro-title{
    height: 22px;
    margin: 14px 0 4px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pro-title a{
    color: #333;       
    font-size: 14px;
}
.bottom-info{
    position: relative;
    height: 76px;
    overflow: hidden;
}
.bottom-con{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .4s;
}
.sold-num{
    font-size: 14px;
    color: #8c8c8c;
    line-height: 22px;
    padding-bottom: 3px;
}
.process-bar{
    position: relative;
    width: 238px;
    height: 8px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ebebeb;
    opacity: 1;
}
.process{
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 43%;
    border-radius: 10px;
    background: linear-gradient(90deg,#ffbb42,#ff8050);
}
.process-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;background: url(../img/pro-img/bar.png);
}
.pirce-info{
    position: absolute;
    left: 0;
    bottom: 0;
}
.new-pirce{
    font-family: "Century Gothic","Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB";
    font-weight: bold;
    font-size: 18px;
    color: #ff3f34;
}
.old-pirce{    
    font-family: Century Gothic;
    color: #8c8c8c;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
}
.btn{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #fd5b45;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: height .4s;
}
.ok{
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border: 1px solid gray;
}
.btn:hover{
    color: #fff;
}
.food-list li:hover .bottom-con{
    top: -35px;
}  
.food-list li:hover .btn{
    height: 40px;
}
/* 商品下面的 */
.super-bottom{
    margin-bottom: 86px;
    overflow: hidden;
}
.bottom-line{
   width: 436px;
   height: 2px;
   background: #ddd;
   display: inline-block;
   vertical-align: middle;
}
.bottom-center{
   font-size: 14px;
   color: #666;
   text-align: center;
   margin: 0 33px;
   vertical-align: middle;
   width: 280px;
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
}
/* 定位在右边的*/
.rightside{
   cursor: pointer;
   position: fixed;
   right: 10px;
   bottom: 120px;
   color: #666;
   text-align: center;
   transition: opacity .25s,visibility .25s;
}
.side-item {
   position: relative;
   font-size: 12px;
   width: 49px;
   height: 47px;
   line-height: 47px;
   background-color: #fff;
   border: 1px solid #ececec;
   margin-bottom: 3px;
}
.wait-sell{
   width: 29px;
   height: 27px;
   line-height: 14px;
   padding: 10px;
}
.back .back-i{
   font-size: 24px;
}
.side-item:hover{
   color: #fd5b45;
}
.wait-sell:hover{
   color: #fd5b45;
}
.back:hover{
   background-color: #fd5b45;
   color: #fff;
}
/* 下面的背景为白色的部分 */
.bottom-price{
   width: 1228px;
   margin: 0 auto;
   padding: 0;
   border: 1px solid #ffc8c8;
}
.problem{
   display: inline-block;
   height: 23px;
   width: 112px;
   padding-left: 30px;
   background: url(../img/pro-img/reference_price.png) 0 0 no-repeat;
   color: #e17575;
   line-height: 23px;
}
.suggest{
   display: inline-block;
   color: #666;
   height: 23px;
   line-height: 23px;
}