$bgc:background-color;
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap{
    width: 1070px;
    margin: 0 auto;
}
a,i,span,div,p{
    vertical-align: middle;
}
body{
    font:12px Arial,Helvetica,sans-serif;
    color: #333;
    list-style: none;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    color: #666;
    text-decoration: none;
    &:hover{
        color: red;
    }
}

.hd_header{
    .hd-bg{
        #{$bgc}: #f4f4f4;
        border-bottom: 1px solid #e5e5e5;
    }
}
.hd_header_top{
    min-width: 980px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    div,span,a,i {
        vertical-align: middle;
    }
    .hd_t_left{
        float: left;
        padding: 0 10px;
    }    
    .hd_place{

        .fff{
            position: absolute;
            width: 100%;
            display: none;
            height: 3px;
            #{$bgc}: #fff;
            top: 28px;
            left: 0px;
            z-index: 3;
        }
        a{
            i{
                font-size: 16px;
                color: red;
            }
        }
        @extend .hd_t_left;
        .none{
            width: 720px;
            top: 29px;
            left: -1px;
            color: #999;
            border: 1px solid #dbdbdb;
            #{$bgc}:#fff;
            z-index: 1;
            text-align: left;
            .hd_city_search{
                height: 30px;
                padding: 15px 20px 0 ;
                span{
                    display: inline-block;
                    color: #666;
                    height: 28px;
                    line-height: 28px;
                    padding-right: 10px;
                    font-weight: bold;
                }
                div{
                    display: inline-block;
                    input{
                        width: 135px;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 8px 0 25px;
                        vertical-align: middle;
                        color: #333;
                        font-size: 12px;
                    }
                    #txt{
                        position: absolute;
                        #{$bgc}: #fff;
                        border-radius: 3px;
                        border: 1px solid #AAA;
                        padding-left: 10px;
                        width: 158px;
                        left: 94px;
                        top: 47px;
                        display: none;
                    }
                    .iconfont{
                        position: absolute;
                        top: 17px;
                        left: 100px;
                        font-size: 16px;
                        color: #dcdcdc;
                    }
                }
                .close_city{
                    &:hover{
                        cursor: pointer;
                    }
                    width: 20px;
                    height: 20px;
                    float: right;
                    font: 20px "Tahoma";
                    color: #ccc;
                    margin: {
                        top: -8px;
                        right: -19px;
                    }
                }
                .clearText{
                    @extend .close_city;
                    font-size: 16px;
                    position: absolute;
                    top: 30px;
                    left: 245px;
                }
            }
            .hd_hot_city{
                padding: 12px 0 5px;
                margin-left: 20px;
                border-bottom: 1px solid #e0e0e0;
                span{
                    float: left;
                    color: #666;
                    font-weight: bold;
                    padding-right: 10px;
                }
                div{
                    @extend span;
                    font-weight: normal;
                    width: 610px;
                    a{
                        white-space: nowrap;
                        padding: {
                            right: 21px;
                            bottom: 5px;
                        }
                    }
                }
            }
            .hd_letter_search{
                @extend .hd_hot_city;
                padding: 12px 0 0;
                border: none;
                span{
                    height: 20px;
                    line-height: 20px;
                    vertical-align: bottom;
                }
                a{
                    float: left;
                    width: 22px;
                    height: 20px;
                    margin: 0 5px 5px 0;
                    #{$bgc}:#eee;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: middle;
                }
                .col{
                    color: #fff;
                    #{$bgc}:red;
                }
            }
            .hd_city_list{
                position: relative;
                height: 245px;
                margin: {
                    left: 20px;
                    bottom: 10px;
                }
                ul{
                    position: relative;
                    height: 215px;
                    padding: 10px 0;
                    overflow: auto;
                    scroll-behavior: smooth;
                    li{
                        position: relative;
                        margin-bottom: 10px;
                        padding-left: 30px;
                        padding-left: 30px;
                        .city_screen{
                            position: absolute;
                            left: 3px;
                            top: 2px;
                            font-size: 18px;
                            font-family: "Arial";
                            color: #ccc;
                        }
                        .city_box{
                            float: left;
                            a{
                                white-space: nowrap;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .news{
        height: 30px;
        overflow: hidden;
        @extend .hd_t_left;
        text-align: left;
        i{
            color: red;
        }
        .n_mess{
            position: relative;
            padding-left: 5px;
            display: inline-block;
            width: 150px;
            animation: move 5s infinite;
            @keyframes move {
                0%{
                    top:0px;
                    transition: all .3s;
                }
                45%{
                    top:0px;
                    transition: all .3s;
                }
                50%{
                    top:-30px;
                    transition: all .3s;
                }
                90%{
                    top:-30px;
                    transition: all .3s;
                }
                95%{
                    top:-60px;
                    transition: all .3s;
                }
                100%{
                    top:-60px;
                    transition: all .3s;
                }
            }
            span{
                display: block;
                position: absolute;
            }
        }
    }
    .hd_right{
        float: right;
        .hd_r_logReg{
            a{
                color: #AAA;
                &+a:hover{
                    color: red;
                }
            }
            span,span+a{
                color: red;
            }
            
        }
        // 登陆后显示
        .login-txt{
            float: left;
            .user:hover+div a:first-child{
                display: block;
                &+a{
                    display: none;
                }
            }
            div{
                width: 110px;
                float: right;
                position: relative;
                a{
                    position: absolute;
                    right: 0;
                    margin: 0 3px;
                    &:first-child{
                        right: 10px;
                        color: #CCC;
                        display: none;
                    }
                    span{
                        padding: 2px 5px;
                        margin-right: 5px;
                        #{$bgc}:red;
                        color: #fff;
                        border-radius: 20px;
                    }
                }
            }
        }
        .hd_r_l{
            @extend .hd_t_left;
            padding: 0 10px;
        }
        .hd_member{
            &:hover{
                i{
                    color: red;
                }
            }
        }
        .hd_myOrder{
            .iconfont{
                color: #AAA;
                font-size: 14px;
            }
            &:hover .iconfont{
                color: red;
            }
        }
    }
    
    .hd_relative{
        position: relative;
        z-index: 2;
    }
    .none{
        display: none;
        position: absolute;
    }
    
}
// 头部搜索
.hd_bp{
    height: 180px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    // position: relative;
    .wrap{
        height: 100%;
        position: relative;
    }
    .logo{
        float: left;
        position: absolute;
        width: 300px;
        height: 140px;
        font-size: 0;
        .logoH{
            width: 140px;
            height: 140px;
            img{
                width: 100%;
            }
            vertical-align: middle;
        }
        div{
            width: 160px;
            height: 90px;
            display: inline-block;
            img{
                width: 100%;
            }
            vertical-align: middle;
        }
    }
    .search-text{
        float: right;
        position: absolute;
        right: 10px;
        padding-top: 50px;
        .sea-ipt{
            position: relative;
            display: inline-block;
            width: 476px;
            margin: 0 15px 0 0;
            
            color: #666;
            input{
                width: 476px;
                height: 38px;
                padding: 0 30px;
                font-size: 14px;
                line-height: 38px;
                color: #333;
                border-radius: 100px;
                border: 1px solid #CCC;
                #{$bgc}: #fcfcfc;
                background: url("../img/imgs/sea.png") 435px 8px no-repeat ;
                background-size:  20px 20px;
                outline: none;
                &:focus+label{
                    display: none;
                }
                &:hover{
                    border-color: red;
                }
            }
            label{
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 14px;
            }
            label+span{
                display: inline-block;
                width: 20px;
            }
            a{
                font-size: 14px;
                color: #999;
                margin: 2px 5px;
                &:hover{
                    color: #333;
                }
            }
        }
        .shop-car{
            float: right;
            border: 1px solid #CCC;
            border-radius: 20px;
            a{
                display: inline-block;
                width: 120px;
                height: 38px;
                text-align: center;
                line-height: 38px;
                font-size: 16px;
            }
        } 
    }
    .bp-nav{
        position: absolute;
        bottom: 0px;
        left: 140px;
        a{
            display: inline-block;
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            margin-left: 30px;
        } 
    }
    .contro{
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 140px;
        display: inline-block;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        #{$bgc}: #ff4040;
        color: #fff;
        i{
            margin: 0 5px;
        }
        img{
            width: 10px;
            margin-left: 5px;
        }
        &:hover{
            img{
                transform: rotate(180deg);
            }
        }
        
    }
    .contro:hover~.category-list{
        display: block;
    }
    .category-list{
        display: none;
        height: 410px;
        #{$bgc}: #fff;
        border: 1px solid #ff4040;
        position: absolute;
        top: 180px;
        left: 0;
        z-index: 100;
        .item{
            float: left;
            width: 155px;
            padding-left: 20px;
            margin: 30px 0;
            &:first-child~.item{
                border-left: 1px solid #e9e9e9;
            }
            h4{
                font-size: 14px;
                a{
                    color: #000;
                    &:hover{
                        color: red;
                    }
                }
            }
            ul{
                height: 165px;
                margin-top: 8px;
                li{
                    float: left;
                    width: 75px;
                    line-height: 16px;
                    margin-bottom: 8px;
                    white-space: normal;
                    cursor: pointer;
                    &:hover{
                        color: red;
                    }
                }
            } 
            
        }
    }

}
// banner图
.banner{
    // width: 100%;
    // height: 400px;
    // overflow: hidden;
    position: relative;
    .lunbo{
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .6s;
        }
    }
    .lunbo+div{
        width: 100%;
        height: 40px;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -50%;
        bottom: -20px;
        z-index: 10;
        a{
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
            box-shadow: 0px 0px 2px ; 
            #{$bgc}: #fff;
            transition: all .3s;
        }
    }
}

// 固定搜索条
.hd-fixed{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #AAA;
    position: fixed;
    z-index: 100;
    top: 0;
    #{$bgc}:#fff;
    img{
        height: 60px;
    }
    .wrap{
        height: 60px;
        a{vertical-align: middle;}
        div{
            display: inline-block;
            vertical-align: middle;
            &.fix-search{
                width: 405px;
                margin: 8px 0 0 80px;
                position: relative;
                input{
                    width: 400px;
                    height: 36px;
                    font-size: 14px;
                    padding: 0 70px 0 20px;
                    border-radius: 20px;
                    outline: none;
                    border: 2px solid red;
                    &+span{
                        position: absolute;
                        top: 10px;
                        left: 22px;
                        font-size: 14px;
                    }
                    &:focus+span{
                        display: none;
                    }
                }

                .ipt-sec{
                    position: absolute;
                    width: 68px;
                    background-color: red;
                    color: #fff;
                    text-align: center;
                    line-height: 36px;
                    border-radius: 0 20px 20px 0;
                    right: -88px;
                    top: 0;
                    .iconfont{
                        font-size: 24px;
                    }
                }
            }
            &.shop-car{
                float: right;
                margin: 10px 10px 0 0;
                border: 1px solid #CCC;
                border-radius: 20px;
                a{
                    display: inline-block;
                    width: 120px;
                    height: 38px;
                    text-align: center;
                    line-height: 38px;
                    font-size: 16px;
                }
            }
        }   
    }
}
// body内容
.nav-body{
    padding: 40px 0 10px 0;
    #{$bgc}: #f5f5f5;
    .super{
        margin-bottom: 20px;
        height: 444px;
        .super-single{
            height: 370px;
            padding: 15px 15px 0px 15px;
            background: url(../../img/imgs/nav/super-single.png) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            position: relative;
            li{
                box-sizing: border-box;
                float: left;
                width: 208px;
                height: 216px;
                float: left;
                font-size: 14px;
                &~li:hover{
                    transform: scale(1.05);
                    box-shadow: 0 0 20px -10px #CCC;
                }
                &.super-one{
                    // 商品样式
                    &~li{
                        #{$bgc}:#fff;
                        padding: 10px 25px;
                        .single-top{
                            width: 100%;
                            height: 125px;
                            text-align: center;
                            img{
                                width: 110px;
                                height: 110px;
                            }

                        }
                        .single-bot{
                            width: 100%;
                            height: 71px;
                            text-align: center;
                            p{
                                width: 160px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                color: #333;
                                font-size: 12px;
                            }
                            .single-line{
                                margin: 10px 0;
                                display: block;
                                width: 100%;
                                height: 5px;
                                border-radius: 3px;
                                #{$bgc}: #e5e5e5;
                                i{
                                    display: block;
                                    width: 70%;
                                    height: 5px;
                                    #{$bgc}:red;
                                    border-radius: 3px;
                                }
                                
                            }
                            .original-price{
                                color: red;
                                margin-right: 5px;
                                &+span{
                                    color: #AAA;
                                    text-decoration: line-through;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    // 第一个li样式
                    img{
                        width: 129px;
                        height: 36px;
                        margin-left: 20px;
                        margin-top: 22px;
                        cursor: pointer;
                    }
                    .super-txt{
                        color: rgba(255, 255, 255,.7);
                        width: 180px;
                        height: 40px;
                        margin-left: 24px;
                        position: relative;
                        p{
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: bold;
                        }
                        span{
                            display: block;
                            margin-top: 10px;
                            width: 30px;
                            height: 1px;
                            border-top: 2px solid #fff;
                        }
                    }
                    .single-djs{
                        width: 137px;
                        height: 66px;
                        margin-top: 10px;
                        margin-left: 20px;
                        .djs-txt{
                            font-size: 14px;
                            color: #fff;
                            i{
                                font-size: 23px;
                            }
                        }
                        .djs-second{
                            color: #fff;
                            font-size: 20px;
                            text-align: center;
                            margin-top: 5px;
                            span{
                                display: inline-block;
                                width: 33px;
                                height: 33px;
                                #{$bgc}:#161616;
                                border-radius: 10px;
                                margin-right: 5px;
                                line-height: 33px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .appcode-fix{
                width: 100px;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(540px);
                z-index: 100;
                #{$bgc}:#fff;
                box-sizing: border-box;
                text-align: center;
                padding-top: 10px;
                p{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                img{
                    width: 100%;
                }
                a:first-of-type{
                    img{
                        width: 80%;
                    }
                }
                .shopcar-fix{
                    height: 40px;
                    font-size: 16px;
                    border-top: 1px solid #ccc;
                    line-height: 40px;
                }
                .to-top{
                    height: 30px;
                    #{$bgc}:#333;
                    color: #fff;
                    font-size: 16px;
                    padding: 5px 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    display: none;
                    img{
                        width: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }
        
    }
    .goods-show{
        height: 421px;
        margin-bottom: 20px;
        .goods-item{
            height: 421px;
            box-sizing: border-box;
            #{$bgc}:#fff;
            position: relative;
            .medal{
                width: 71px;
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
    }
}


// 底部
.ft_top{
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    a{
        float: left;
        width: 205px;
        margin: 0 81px 0 0;
        overflow: hidden;
        &:last-child{
            margin: 0;
        }
        img{
            float: left;
            width: 66px;
            height: 66px;
            margin-right: 15px;
        }
        b{
            display: block;
            margin-top: 10px;
            font-size: 16px;
            color: #333;
        }
        span{
            font-size: 14px;
            color: #999;
            line-height: 26px;
        }
    }
}
.ft_help{
    padding: 20px 0 20px;
    .ft_hp_list{
        float: left;
        margin-left: 15px;
        li{
            float: left;
            list-style: none;
            width: 195px;
        }
        b{
            display: block;
            height: 32px;
            font-size: 14px;
            line-height: 32px;
            color: #666;
            font-weight: bold;
            padding-left: 8px;
        }
        a{
            @extend b;
            height: 24px;
            line-height: 24px;
            padding: 0 8px;
            font-size: 12px;
            white-space: normal;
            font-weight: normal;
            &:hover{
                color: red;
            }
        } 
        &~div{
            float: left;
            margin-right: 47px;
            line-height: 32px;
            font-size: 14px;
            font-weight: bold;
            color: #666;
            img{
                width: 90px;
                height: 90px;
            }
        } 
    }  
}
.footer_link{
    p{
        color: #666;
        text-align: center;
        text-indent: 0;
        line-height: 100%;
        margin: 15px 0;
        padding: 0;
        a{
            margin: 0 10px;
            
        }

    }
    p+p+p{
        padding: 10px 0 20px;
        margin: 0;
        a{
            margin: 0 4px;
        }
    }
    
}