$bgc:background-color;
*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap{
    width: 1228px;
    margin: 0 auto;
}
body{
    font:12px Arial,Helvetica,sans-serif;
    color: #333;
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
    &:hover{
        color: red;
    }
}

.hd_header{

    .hd-bg{
        #{$bgc}: #f4f4f4;
        border-bottom: 1px solid #e5e5e5;
    }
}
.hd_header_top{
    min-width: 980px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    div,span,a,i {
        vertical-align: middle;
    }
    .hd_t_left{
        float: left;
        padding: 0 10px;
    }    
    
    .hd_t_left>i{
        color: red;
        font-size: 12px;
    }
    .hd_place{

        .fff{
            position: absolute;
            width: 100%;
            display: none;
            height: 3px;
            #{$bgc}: #fff;
            top: 28px;
            left: 0px;
            z-index: 3;
        }
        a{
            i{
                font-size: 16px;
                color: red;
            }
        }
        @extend .hd_t_left;
        .none{
            width: 720px;
            top: 29px;
            left: -1px;
            color: #999;
            border: 1px solid #dbdbdb;
            #{$bgc}:#fff;
            z-index: 1;
            text-align: left;
            .hd_city_search{
                height: 30px;
                padding: 15px 20px 0 ;
                span{
                    display: inline-block;
                    color: #666;
                    height: 28px;
                    line-height: 28px;
                    padding-right: 10px;
                    font-weight: bold;
                }
                div{
                    display: inline-block;
                    input{
                        width: 135px;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 8px 0 25px;
                        vertical-align: middle;
                        color: #333;
                        font-size: 12px;
                    }
                    #txt{
                        position: absolute;
                        #{$bgc}: #fff;
                        border-radius: 3px;
                        border: 1px solid #AAA;
                        padding-left: 10px;
                        width: 158px;
                        left: 94px;
                        top: 47px;
                        display: none;
                    }
                    .iconfont{
                        position: absolute;
                        top: 17px;
                        left: 100px;
                        font-size: 16px;
                        color: #dcdcdc;
                    }
                }
                .close_city{
                    &:hover{
                        cursor: pointer;
                    }
                    width: 20px;
                    height: 20px;
                    float: right;
                    font: 20px "Tahoma";
                    color: #ccc;
                    margin: {
                        top: -8px;
                        right: -19px;
                    }
                }
                .clearText{
                    @extend .close_city;
                    font-size: 16px;
                    position: absolute;
                    top: 30px;
                    left: 245px;
                }
            }
            .hd_hot_city{
                padding: 12px 0 5px;
                margin-left: 20px;
                border-bottom: 1px solid #e0e0e0;
                span{
                    float: left;
                    color: #666;
                    font-weight: bold;
                    padding-right: 10px;
                }
                div{
                    @extend span;
                    font-weight: normal;
                    width: 610px;
                    a{
                        white-space: nowrap;
                        padding: {
                            right: 21px;
                            bottom: 5px;
                        }
                    }
                }
            }
            .hd_letter_search{
                @extend .hd_hot_city;
                padding: 12px 0 0;
                border: none;
                span{
                    height: 20px;
                    line-height: 20px;
                    vertical-align: bottom;
                }
                a{
                    float: left;
                    width: 22px;
                    height: 20px;
                    margin: 0 5px 5px 0;
                    #{$bgc}:#eee;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: middle;
                }
                .col{
                    color: #fff;
                    #{$bgc}:red;
                }
            }
            .hd_city_list{
                position: relative;
                height: 245px;
                margin: {
                    left: 20px;
                    bottom: 10px;
                }
                ul{
                    position: relative;
                    height: 215px;
                    padding: 10px 0;
                    overflow: auto;
                    scroll-behavior: smooth;
                    li{
                        position: relative;
                        margin-bottom: 10px;
                        padding-left: 30px;
                        padding-left: 30px;
                        .city_screen{
                            position: absolute;
                            left: 3px;
                            top: 2px;
                            font-size: 18px;
                            font-family: "Arial";
                            color: #ccc;
                        }
                        .city_box{
                            float: left;
                            a{
                                white-space: nowrap;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .hd_right{
        float: right;
        .hd_r_logReg{
            a{
                color: #AAA;
                &+a:hover{
                    color: red;
                }
            }
            span,span+a{
                color: red;
            }
            
        }
        // 登陆后显示
        .login-txt{
            float: left;
            position: relative;
            z-index: 100;
            text-align: left;
            padding: 0 10px;
            div{
                width: 60px;
                float: right;
                position: relative;
                a{
                    // float: left;
                    position: absolute;
                    right: 0;
                    margin: 0 3px;
                    span{
                        padding: 2px 5px;
                        margin-right: 5px;
                        #{$bgc}:red;
                        color: #fff;
                        border-radius: 20px;
                    }
                    i{
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        transform: rotate(-135deg);
                        transition: all .3s;
                        transform-origin: 2px 2px;
                        border: {
                            top: 2px solid #AAA;
                            left: 2px solid #AAA;
                            radius: 2px;
                        }
                    }
                    
                }
            }
            &:hover{
                background-color: #fff;
                border: 1px solid #CCC;
                border-top: none;
                .vip i{
                    transform: rotate(45deg);
                }
                .hd-user-privilege{
                    display: block;
                }
            }
            .hd-user-privilege{
                position: absolute;
                top: 29px;
                left: -1px;
                display: none; 
                width: 260px;
                height: 174px;
                padding: 15px;
                border: 1px solid #dbdbdb;
                #{$bgc}: #fff;
                .privilege-top{
                    width: 260px;
                    height: 90px;
                    position: relative;
                    a:first-child{
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        left: 0;
                        border-radius: 50%;
                        padding: 3px;
                        border: 1px solid #CCC;
                        &+a{
                            position: absolute;
                            left: 90px;
                            top: 5px;
                            span{
                                color: #333;
                                #{$bgc}:#fff;
                            }
                            &+a{
                                position: absolute;
                                left: 90px;
                                top: 30px;
                                span{
                                    padding: 2px 5px;
                                }
                                &+a{
                                    margin: -15px -15px 0 0;
                                    span{
                                        color: #ccc;
                                        #{$bgc}:#fff;
                                    }
                                }
                            }
                        }
                    }
                    img{
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                    }
                }
                .privilege-bot{
                    width: 260px;
                    height: 90px;
                    p{
                        width: 240px;
                        margin: 0 auto;
                        border-top: 1px solid #ccc;
                        position: relative;
                        span{
                            position: absolute;
                            left: 50%;
                            top: -15px;
                            transform: translateX(-50%);
                            #{$bgc}:#fff;
                            padding: 0 10px;
                        }
                    }
                    .item{
                        width: 260px;
                        height: 85px;
                        position: relative;
                        img:first-child{
                            float: left;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            transform: rotate(180deg);
                            &+div{
                                float: left;
                                width: 100%;
                                padding: 20px 0px 0 20px;
                                div{
                                    float: left;
                                    text-align: center;
                                    em{
                                        font-style: normal;
                                        line-height: 16px;
                                    }
                                }
                                span{
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    border: 1px solid red;
                                    text-align: center;
                                    vertical-align: middle;
                                    white-space: normal;
                                    i{
                                        font-size: 24px;
                                        color: red;
                                        line-height: 40px;
                                    }
                                }
                            } 
                        }
                        img:last-child{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

        }
        .hd_r_l{
            @extend .hd_t_left;
            padding: 0 10px;
        }
        .hd_myOrder{
            .iconfont{
                color: #AAA;
                font-size: 14px;
            }
            &:hover .iconfont{
                color: red;
            }
        }
    }
    .hd_client{
        &:hover .none{
            display: block;
        }
        i{
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border: {
                top: 2px solid #AAA;
                left: 2px solid #AAA;
                radius: 2px;
            }
        }
        &:hover i{
            transform: rotate(45deg);
        }
        .none{
            position: absolute;
            top: 29px;
            left: 0px;
            width: 86px;
            padding: 5px 0;
            border: 1px solid #dbdbdb;
            border-top: none;
            #{$bgc}:#fff;
            text-align: left;
            a{
                display: block;
                line-height: 26px;
                padding-left: 10px; 
                color: #333;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .hd_relative{
        position: relative;
        z-index: 2;
    }
    .none{
        display: none;
        position: absolute;
    }
    .app{
        .none{
            position: absolute;
            top: 30px;
            left: -10px;
            padding: 15px 9px 9px;
            z-index: 1;
            #{$bgc}:#fff;
            border: 1px solid #e5e5e5;
            p{
                line-height: 18px;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                z-index: 3;
                left: 50%;
                margin-left: -5px;
                top: -5px+0.5px;
                width: 8px;
                height: 8px;
                #{$bgc}:#fff;
                border: {
                    top:1px solid #e5e5e5;
                    left: 1px solid #e5e5e5;;
                } 
                transform: rotate(45deg);
            }
        }
        .iconfont{
            font-size: 18px;
        }
        
        &:hover .none{
            display: block;
        }
    }
}


// 底部
.ft_top{
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    a{
        float: left;
        width: 205px;
        margin: 0 51px;
        overflow: hidden;
        img{
            float: left;
            width: 66px;
            height: 66px;
            margin-right: 15px;
        }
        b{
            display: block;
            margin-top: 10px;
            font-size: 16px;
            color: #333;
        }
        span{
            font-size: 14px;
            color: #999;
            line-height: 26px;
        }
    }
}
.ft_help{
    padding: 20px 0 20px;
    .ft_hp_list{
        float: left;
        margin-left: 15px;
        li{
            float: left;
            list-style: none;
            width: 195px;
        }
        b{
            display: block;
            height: 32px;
            font-size: 14px;
            line-height: 32px;
            color: #666;
            font-weight: bold;
            padding-left: 8px;
        }
        a{
            @extend b;
            height: 24px;
            line-height: 24px;
            padding: 0 8px;
            font-size: 12px;
            white-space: normal;
            font-weight: normal;
            &:hover{
                color: red;
            }
        } 
        &~div{
            float: left;
            margin-right: 50px;
            line-height: 32px;
            font-size: 14px;
            font-weight: bold;
            color: #666;
            img{
                width: 90px;
                height: 90px;
            }
        } 
    }  
}
.footer_link{
    p{
        color: #666;
        text-align: center;
        text-indent: 0;
        line-height: 100%;
        margin: 15px 0;
        padding: 0;
        a{
            margin: 0 10px;
            
        }

    }
    p+p+p{
        padding: 10px 0 20px;
        margin: 0;
        a{
            margin: 0 4px;
        }
    }
    
}