$bgc:background-color;
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap{
    width: 1228px;
    margin: 0 auto;
}
body{
    font:12px Arial,Helvetica,sans-serif;
    color: #333;
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
    &:hover{
        color: red;
    }
}

.hd_header{
    #{$bgc}: #f4f4f4;

    border-bottom: 1px solid #e5e5e5;
}
.hd_header_top{
    min-width: 980px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    div,span,a,i {
        vertical-align: middle;
    }
    .hd_t_left{
        float: left;
        padding: 0 10px;
    }    
    
    .hd_t_left>i{
        color: red;
        font-size: 12px;
    }
    .hd_place{

        .fff{
            position: absolute;
            width: 100%;
            display: none;
            height: 3px;
            #{$bgc}: #fff;
            top: 28px;
            left: 0px;
            z-index: 3;
        }
        a{
            i{
                font-size: 16px;
                color: red;
            }
        }
        @extend .hd_t_left;
        .none{
            width: 720px;
            top: 29px;
            left: -1px;
            color: #999;
            border: 1px solid #dbdbdb;
            #{$bgc}:#fff;
            z-index: 1;
            text-align: left;
            .hd_city_search{
                height: 30px;
                padding: 15px 20px 0 ;
                span{
                    display: inline-block;
                    color: #666;
                    height: 28px;
                    line-height: 28px;
                    padding-right: 10px;
                    font-weight: bold;
                }
                div{
                    display: inline-block;
                    input{
                        width: 135px;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 8px 0 25px;
                        vertical-align: middle;
                        color: #333;
                        font-size: 12px;
                    }
                    #txt{
                        position: absolute;
                        #{$bgc}: #fff;
                        border-radius: 3px;
                        border: 1px solid #AAA;
                        padding-left: 10px;
                        width: 158px;
                        left: 94px;
                        top: 47px;
                        display: none;
                    }
                    .iconfont{
                        position: absolute;
                        top: 17px;
                        left: 100px;
                        font-size: 16px;
                        color: #dcdcdc;
                    }
                }
                .close_city{
                    &:hover{
                        cursor: pointer;
                    }
                    width: 20px;
                    height: 20px;
                    float: right;
                    font: 20px "Tahoma";
                    color: #ccc;
                    margin: {
                        top: -8px;
                        right: -19px;
                    }
                }
                .clearText{
                    @extend .close_city;
                    font-size: 16px;
                    position: absolute;
                    top: 30px;
                    left: 245px;
                }
            }
            .hd_hot_city{
                padding: 12px 0 5px;
                margin-left: 20px;
                border-bottom: 1px solid #e0e0e0;
                span{
                    float: left;
                    color: #666;
                    font-weight: bold;
                    padding-right: 10px;
                }
                div{
                    @extend span;
                    font-weight: normal;
                    width: 610px;
                    a{
                        white-space: nowrap;
                        padding: {
                            right: 21px;
                            bottom: 5px;
                        }
                    }
                }
            }
            .hd_letter_search{
                @extend .hd_hot_city;
                padding: 12px 0 0;
                border: none;
                span{
                    height: 20px;
                    line-height: 20px;
                    vertical-align: bottom;
                }
                a{
                    float: left;
                    width: 22px;
                    height: 20px;
                    margin: 0 5px 5px 0;
                    #{$bgc}:#eee;
                    line-height: 20px;
                    text-align: center;
                    vertical-align: middle;
                }
                .col{
                    color: #fff;
                    #{$bgc}:red;
                }
            }
            .hd_city_list{
                position: relative;
                height: 245px;
                margin: {
                    left: 20px;
                    bottom: 10px;
                }
                ul{
                    position: relative;
                    height: 215px;
                    padding: 10px 0;
                    overflow: auto;
                    scroll-behavior: smooth;
                    li{
                        position: relative;
                        margin-bottom: 10px;
                        padding-left: 30px;
                        padding-left: 30px;
                        .city_screen{
                            position: absolute;
                            left: 3px;
                            top: 2px;
                            font-size: 18px;
                            font-family: "Arial";
                            color: #ccc;
                        }
                        .city_box{
                            float: left;
                            a{
                                white-space: nowrap;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .hd_right{
        float: right;
        .hd_r_logReg{
            a{
                color: #AAA;
                &+a:hover{
                    color: red;
                }
            }
            span,span+a{
                color: red;
            }
            .new_bepromoted{
                width: 40px;
                height: 18px;
                background-color: red;
                float: right;
                border-radius: 25px;
                color: #fff;
                margin: 6px 0;
                line-height: 19px;
            }
            i{
                position: relative;
                left: 50px;
            }
            .none{
                width: 260px;
                position: absolute;
                top: 30px;
                left: 0;
                // display: block;
                z-index: 3;
                background-color: white;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                    padding: 10px 10px;
                }
                .hd_right_hidd_name{
                    width: 120px;
                    a{
                        float: right;
                    }
                    .hd_right_hidd_name_noe{
                        position: relative;
                        top: 10px;
                    }
                    .new_bepromoted{
                        margin: 0;
                        position: relative;
                        left: 10px;
                        bottom: 40px;
                        width: 34px;
                    }
                }
                .hd_right_hidd_name_quit{
                    position: absolute;
                    top: 0px;
                    left: 190px;
                    color: gray;
                    &:hover{
                        color: red;
                    }
                }
                .hd_right_hidd_botm{
                    width: 250px;
                    
                }
            }
        }
        .hd_r_l{
            @extend .hd_t_left;
            padding: 0 10px;
        }
        .hd_myOrder{
            .iconfont{
                color: #AAA;
                font-size: 14px;
            }
            &:hover .iconfont{
                color: red;
            }
        }
    }
    .hd_client{
        &:hover .none{
            display: block;
        }
        i{
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border: {
                top: 2px solid #AAA;
                left: 2px solid #AAA;
                radius: 2px;
            }
        }
        &:hover i{
            transform: rotate(45deg);
        }
        .none{
            position: absolute;
            top: 29px;
            left: 0px;
            width: 86px;
            padding: 5px 0;
            border: 1px solid #dbdbdb;
            border-top: none;
            #{$bgc}:#fff;
            text-align: left;
            a{
                display: block;
                line-height: 26px;
                padding-left: 10px; 
                color: #333;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .hd_relative{
        position: relative;
        z-index: 2;
    }
    .none{
        display: none;
        position: absolute;
    }
    .app{
        .none{
            position: absolute;
            top: 30px;
            left: -10px;
            padding: 15px 9px 9px;
            z-index: 1;
            #{$bgc}:#fff;
            border: 1px solid #e5e5e5;
            p{
                line-height: 18px;
            }
            
        }
        .iconfont{
            font-size: 24px;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            z-index: 3;
            left: 50%;
            margin-left: -5px;
            top: 25px+0.5px;
            width: 8px;
            height: 8px;
            #{$bgc}:#fff;
            border: {
                top:1px solid #e5e5e5;
                left: 1px solid #e5e5e5;;
            } 
            transform: rotate(45deg);
        }
        &:hover .none{
            display: block;
        }
    }
}

.bd_top{
    background-color: #3f3d45;
    width: 100%;
    height: 90px;
    position: relative;

    .bd_top_wrap{
        .bd_top_img{
            position: relative;
            top: 0px;
            left: -210px;
            img{
            width: 145px;
            height: 28px;
            padding: 30px 0;
        }
        }
        
    }
    .bd_item{
        width: 385px;
        height: auto;
        position: relative;
        top: -91px;
        left: 170px;
        overflow: hidden;
        li{
            float: left;
            text-align: center;
            line-height: 80px;
            
          .item{
            display: inline-block;
            padding: 0 36px;
            height: 90px;
            color: #fff;
            font-family: "microsoft yahei";
            font-size: 16px;
            text-align: center;
           }
           .bd_color{
               background-color: #46444b;
           }
        }
        i{
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border: {
                top: 2px solid #AAA;
                left: 2px solid #AAA;
                radius: 2px;
            }
        }
        
         .none{
            display: none;
        }
        .bd_block{
            &:hover .none{
                display: block;
            }
        }
        .bd_item_set_hd{
            background-color: #46444b;
            line-height: 50px;
        }
       
        .bd_item_set {

            &:hover i{
                transform: rotate(45deg);
            }
        }
        
    }
}


// 中心内容板块

.bd_centre{
    width: 100%;
    height: auto;
    padding: 22px 0 100px;
    background-color:#e9e9e9;
    .bd_centre_wrap{
        // background-color: red;
        .bd_centre_left{
            width: 175px;
            // height: 778px;
            background-color: #fff;
            padding: 18px 0 24px 0;
            li{
                height: 34px;
                padding-top: 6px;
                color: #666;
                font-size: 14px;
                font-weight: bold;
                line-height: 34px;
                width: 175px;
                height: auto;
                text-align: center;
                a{
                    height: 28px;
                    color: #999;
                    line-height: 28px;
                    display: inline-block;
                    width: 175px;
                    height: auto;
                    font-size: 12px;
                }
            }
        }
        .bd_centre_right{
            width: 1040px;
            // height: auto;
            float: right;
            .bd_center_user{
                width: 340px;
                height: 200px;
                
                background-image: url(../img/head_portrait/vipRankBg.png);
            }
        }
}
}


