* {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  position: relative; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrap {
  width: 1228px;
  margin: 0 auto; }

body {
  font: 12px Arial,Helvetica,sans-serif;
  color: #333;
  list-style: none; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: red; }

.hd_header .hd-bg {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e5e5e5; }

.hd_header_top {
  min-width: 980px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .hd_header_top div, .hd_header_top span, .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top a, .hd_header_top i {
    vertical-align: middle; }
  .hd_header_top .hd_t_left, .hd_header_top .hd_place, .hd_header_top .hd_right .hd_r_l {
    float: left;
    padding: 0 10px;
    z-index: 13; }
  .hd_header_top .hd_t_left > i, .hd_header_top .hd_place > i, .hd_header_top .hd_right .hd_r_l > i {
    color: red;
    font-size: 12px; }
  .hd_header_top .hd_place .fff {
    position: absolute;
    width: 100%;
    display: none;
    height: 3px;
    background-color: #fff;
    top: 28px;
    left: 0px;
    z-index: 3; }
  .hd_header_top .hd_place a i {
    font-size: 16px;
    color: red; }
  .hd_header_top .hd_place .none {
    width: 720px;
    top: 29px;
    left: -1px;
    color: #999;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    z-index: 1;
    text-align: left; }
    .hd_header_top .hd_place .none .hd_city_search {
      height: 30px;
      padding: 15px 20px 0; }
      .hd_header_top .hd_place .none .hd_city_search span, .hd_header_top .hd_place .none .hd_city_search .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_city_search div, .hd_header_top .hd_place .none .hd_city_search .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_city_search div {
        display: inline-block;
        color: #666;
        height: 28px;
        line-height: 28px;
        padding-right: 10px;
        font-weight: bold; }
      .hd_header_top .hd_place .none .hd_city_search div {
        display: inline-block; }
        .hd_header_top .hd_place .none .hd_city_search div input {
          width: 135px;
          height: 26px;
          line-height: 26px;
          padding: 0 8px 0 25px;
          vertical-align: middle;
          color: #333;
          font-size: 12px; }
        .hd_header_top .hd_place .none .hd_city_search div #txt {
          position: absolute;
          background-color: #fff;
          border-radius: 3px;
          border: 1px solid #AAA;
          padding-left: 10px;
          width: 158px;
          left: 94px;
          top: 47px;
          display: none; }
        .hd_header_top .hd_place .none .hd_city_search div .iconfont {
          position: absolute;
          top: 17px;
          left: 100px;
          font-size: 16px;
          color: #dcdcdc; }
      .hd_header_top .hd_place .none .hd_city_search .close_city, .hd_header_top .hd_place .none .hd_city_search .clearText {
        width: 20px;
        height: 20px;
        float: right;
        font: 20px "Tahoma";
        color: #ccc;
        margin-top: -8px;
        margin-right: -19px; }
        .hd_header_top .hd_place .none .hd_city_search .close_city:hover, .hd_header_top .hd_place .none .hd_city_search .clearText:hover {
          cursor: pointer; }
      .hd_header_top .hd_place .none .hd_city_search .clearText {
        font-size: 16px;
        position: absolute;
        top: 30px;
        left: 245px; }
    .hd_header_top .hd_place .none .hd_hot_city, .hd_header_top .hd_place .none .hd_letter_search {
      padding: 12px 0 5px;
      margin-left: 20px;
      border-bottom: 1px solid #e0e0e0; }
      .hd_header_top .hd_place .none .hd_hot_city span, .hd_header_top .hd_place .none .hd_letter_search span, .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div {
        float: left;
        color: #666;
        font-weight: bold;
        padding-right: 10px; }
      .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_letter_search div {
        font-weight: normal;
        width: 610px; }
        .hd_header_top .hd_place .none .hd_hot_city div a, .hd_header_top .hd_place .none .hd_letter_search div a {
          white-space: nowrap;
          padding-right: 21px;
          padding-bottom: 5px; }
    .hd_header_top .hd_place .none .hd_letter_search {
      padding: 12px 0 0;
      border: none; }
      .hd_header_top .hd_place .none .hd_letter_search span, .hd_header_top .hd_place .none .hd_letter_search div {
        height: 20px;
        line-height: 20px;
        vertical-align: bottom; }
      .hd_header_top .hd_place .none .hd_letter_search a {
        float: left;
        width: 22px;
        height: 20px;
        margin: 0 5px 5px 0;
        background-color: #eee;
        line-height: 20px;
        text-align: center;
        vertical-align: middle; }
      .hd_header_top .hd_place .none .hd_letter_search .col {
        color: #fff;
        background-color: red; }
    .hd_header_top .hd_place .none .hd_city_list {
      position: relative;
      height: 245px;
      margin-left: 20px;
      margin-bottom: 10px; }
      .hd_header_top .hd_place .none .hd_city_list ul {
        position: relative;
        height: 215px;
        padding: 10px 0;
        overflow: auto;
        scroll-behavior: smooth; }
        .hd_header_top .hd_place .none .hd_city_list ul li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 30px;
          padding-left: 30px; }
          .hd_header_top .hd_place .none .hd_city_list ul li .city_screen {
            position: absolute;
            left: 3px;
            top: 2px;
            font-size: 18px;
            font-family: "Arial";
            color: #ccc; }
          .hd_header_top .hd_place .none .hd_city_list ul li .city_box {
            float: left; }
            .hd_header_top .hd_place .none .hd_city_list ul li .city_box a {
              white-space: nowrap;
              padding-right: 30px; }
  .hd_header_top .hd_right {
    float: right;
    position: relative;
    z-index: 999; }
    .hd_header_top .hd_right .hd_r_logReg a {
      color: #AAA; }
      .hd_header_top .hd_right .hd_r_logReg a + a:hover {
        color: red; }
    .hd_header_top .hd_right .hd_r_logReg span, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .hd_r_logReg div, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .hd_r_logReg div, .hd_header_top .hd_right .hd_r_logReg span + a, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_hot_city div + a, .hd_header_top .hd_place .none .hd_hot_city .hd_right .hd_r_logReg div + a, .hd_header_top .hd_right .hd_r_logReg .hd_place .none .hd_letter_search div + a, .hd_header_top .hd_place .none .hd_letter_search .hd_right .hd_r_logReg div + a {
      color: red; }
    .hd_header_top .hd_right .login-txt {
      float: left;
      position: relative;
      text-align: left;
      padding: 0 10px;
      z-index: 11; }
      .hd_header_top .hd_right .login-txt div {
        width: 60px;
        float: right;
        position: relative; }
        .hd_header_top .hd_right .login-txt div a {
          position: absolute;
          right: 0;
          margin: 0 3px; }
          .hd_header_top .hd_right .login-txt div a span, .hd_header_top .hd_right .login-txt div a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt div a div, .hd_header_top .hd_right .login-txt div a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt div a div {
            padding: 2px 5px;
            margin-right: 5px;
            background-color: red;
            color: #fff;
            border-radius: 20px; }
          .hd_header_top .hd_right .login-txt div a i {
            width: 4px;
            height: 4px;
            display: inline-block;
            transform: rotate(-135deg);
            transition: all .3s;
            transform-origin: 2px 2px;
            border-top: 2px solid #AAA;
            border-left: 2px solid #AAA;
            border-radius: 2px; }
      .hd_header_top .hd_right .login-txt:hover {
        background-color: #fff;
        border: 1px solid #CCC;
        border-top: none; }
        .hd_header_top .hd_right .login-txt:hover .vip i {
          transform: rotate(45deg); }
        .hd_header_top .hd_right .login-txt:hover .hd-user-privilege {
          display: block; }
      .hd_header_top .hd_right .login-txt .hd-user-privilege {
        position: absolute;
        top: 29px;
        left: -1px;
        display: none;
        width: 260px;
        height: 174px;
        padding: 15px;
        border: 1px solid #dbdbdb;
        background-color: #fff; }
        .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top {
          width: 260px;
          height: 90px;
          position: relative; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child {
            position: absolute;
            width: 60px;
            height: 60px;
            left: 0;
            border-radius: 50%;
            padding: 3px;
            border: 1px solid #CCC; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a {
              position: absolute;
              left: 90px;
              top: 5px; }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a div {
                color: #333;
                background-color: #fff; }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a {
                position: absolute;
                left: 90px;
                top: 30px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a div {
                  padding: 2px 5px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a {
                  margin: -15px -15px 0 0; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-top a:first-child + a + a + a div {
                    color: #ccc;
                    background-color: #fff; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-top img {
            border-radius: 50%;
            width: 60px;
            height: 60px; }
        .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot {
          width: 260px;
          height: 90px; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p {
            width: 240px;
            margin: 0 auto;
            border-top: 1px solid #ccc;
            position: relative; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot p div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot p .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot p div {
              position: absolute;
              left: 50%;
              top: -15px;
              transform: translateX(-50%);
              background-color: #fff;
              padding: 0 10px; }
          .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item {
            width: 260px;
            height: 85px;
            position: relative; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child {
              float: left;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              vertical-align: middle;
              transform: rotate(180deg); }
              .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div {
                float: left;
                width: 100%;
                padding: 20px 0px 0 20px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div {
                  float: left;
                  text-align: center; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div em {
                    font-style: normal;
                    line-height: 16px; }
                .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div span, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div {
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 1px solid red;
                  text-align: center;
                  vertical-align: middle;
                  white-space: normal; }
                  .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div span i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_hot_city div i, .hd_header_top .hd_place .none .hd_hot_city .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div i, .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div .hd_place .none .hd_letter_search div i, .hd_header_top .hd_place .none .hd_letter_search .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:first-child + div div i {
                    font-size: 24px;
                    color: red;
                    line-height: 40px; }
            .hd_header_top .hd_right .login-txt .hd-user-privilege .privilege-bot .item img:last-child {
              position: absolute;
              top: 50%;
              right: 0;
              width: 20px;
              height: 20px; }
    .hd_header_top .hd_right .hd_r_l {
      padding: 0 10px; }
    .hd_header_top .hd_right .hd_myOrder .iconfont {
      color: #AAA;
      font-size: 14px; }
    .hd_header_top .hd_right .hd_myOrder:hover .iconfont {
      color: red; }
  .hd_header_top .hd_client:hover .none {
    display: block; }
  .hd_header_top .hd_client i {
    width: 4px;
    height: 4px;
    display: inline-block;
    transform: rotate(-135deg);
    transition: all .3s;
    transform-origin: 2px 2px;
    border-top: 2px solid #AAA;
    border-left: 2px solid #AAA;
    border-radius: 2px; }
  .hd_header_top .hd_client:hover i {
    transform: rotate(45deg); }
  .hd_header_top .hd_client .none {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 86px;
    padding: 5px 0;
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: #fff;
    text-align: left; }
    .hd_header_top .hd_client .none a {
      display: block;
      line-height: 26px;
      padding-left: 10px;
      color: #333; }
      .hd_header_top .hd_client .none a:hover {
        color: red; }
  .hd_header_top .hd_relative {
    position: relative;
    z-index: 2; }
  .hd_header_top .none {
    display: none;
    position: absolute; }
  .hd_header_top .app .none {
    position: absolute;
    top: 30px;
    left: -10px;
    padding: 15px 9px 9px;
    background-color: #fff;
    border: 1px solid #e5e5e5; }
    .hd_header_top .app .none p {
      line-height: 18px; }
    .hd_header_top .app .none::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      left: 50%;
      margin-left: -5px;
      top: -4.5px;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      transform: rotate(45deg); }
  .hd_header_top .app .iconfont {
    font-size: 24px; }
  .hd_header_top .app:hover .none {
    display: block; }

.bd_top {
  background-color: #3f3d45;
  width: 100%;
  height: 90px; }
  .bd_top .bd_top_wrap {
    position: relative;
    z-index: 1; }
    .bd_top .bd_top_wrap .bd_top_img {
      position: relative;
      top: 0px;
      left: -210px; }
      .bd_top .bd_top_wrap .bd_top_img img {
        width: 145px;
        height: 28px;
        padding: 30px 0; }
  .bd_top .bd_item {
    width: 385px;
    height: auto;
    position: relative;
    top: -91px;
    left: 170px;
    overflow: hidden; }
    .bd_top .bd_item li {
      float: left;
      text-align: center;
      line-height: 80px; }
      .bd_top .bd_item li .item {
        display: inline-block;
        padding: 0 36px;
        height: 90px;
        color: #fff;
        font-family: "microsoft yahei";
        font-size: 16px;
        text-align: center; }
      .bd_top .bd_item li .bd_color {
        background-color: #46444b; }
    .bd_top .bd_item i {
      width: 4px;
      height: 4px;
      display: inline-block;
      transform: rotate(-135deg);
      transition: all .3s;
      transform-origin: 2px 2px;
      border-top: 2px solid #AAA;
      border-left: 2px solid #AAA;
      border-radius: 2px; }
    .bd_top .bd_item .none {
      display: none; }
    .bd_top .bd_item .bd_block:hover .none {
      display: block; }
    .bd_top .bd_item .bd_item_set_hd {
      background-color: #46444b;
      line-height: 50px; }
    .bd_top .bd_item .bd_item_set:hover i {
      transform: rotate(45deg); }
  .bd_top .bd_search {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    margin: 27px auto; }
    .bd_top .bd_search input {
      width: 290px;
      height: 34px;
      padding: 0 30px;
      font-size: 14px;
      line-height: 38px;
      color: #333;
      border-radius: 3px;
      border: 1px solid #CCC;
      background-color: #fcfcfc;
      background-size: 20px 20px;
      outline: none; }
      .bd_top .bd_search input:focus + label {
        display: none; }
    .bd_top .bd_search label {
      position: absolute;
      top: 0px;
      left: 0;
      margin-left: 10px;
      font-size: 12px;
      line-height: 30px;
      color: #46444b; }
    .bd_top .bd_search img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 10px auto; }

.bd_centre {
  width: 100%;
  height: auto;
  padding: 22px 0 100px;
  background-color: #e9e9e9; }
  .bd_centre .bd_centre_wrap .bd_centre_left {
    width: 175px;
    background-color: #fff;
    padding: 18px 0 24px 0; }
    .bd_centre .bd_centre_wrap .bd_centre_left li {
      height: 34px;
      padding-top: 6px;
      color: #666;
      font-size: 14px;
      font-weight: bold;
      line-height: 34px;
      width: 175px;
      height: auto;
      text-align: center;
      position: relative; }
      .bd_centre .bd_centre_wrap .bd_centre_left li a {
        height: 28px;
        color: #999;
        line-height: 28px;
        display: inline-block;
        width: 175px;
        height: auto;
        font-size: 12px; }
      .bd_centre .bd_centre_wrap .bd_centre_left li img {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        left: 30px; }
  .bd_centre .bd_centre_wrap .bd_centre_right {
    width: 1040px;
    float: right;
    background-color: #fff;
    position: relative;
    bottom: 826px;
    left: 0px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user {
      width: 340px;
      height: 200px;
      background-image: url(../img/head_portrait/vipRankBg.png);
      text-align: center; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_img {
        width: 74px;
        height: auto;
        border-radius: 50%;
        padding-top: 10px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_name {
        font-size: 16px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_member {
        background-color: red;
        color: #fff;
        width: 60px;
        height: 20px;
        border-radius: 22px;
        line-height: 20px;
        margin-left: 140px;
        margin-top: 10px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_member a {
          color: #fff; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_mem {
        width: 100px;
        height: 20px;
        background-color: #fee;
        border-radius: 20px;
        margin-left: 120px;
        margin-top: 10px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_mem i {
          width: 4px;
          height: 4px;
          display: inline-block;
          transform: rotate(136deg);
          transition: all .3s;
          transform-origin: 2px 2px;
          border-top: 2px solid #AAA;
          border-left: 2px solid #AAA;
          border-radius: 2px;
          margin-left: 5px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_center_user .bd_center_user_mem:hover i {
          border-color: red; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold {
      width: 213px;
      height: 200px;
      position: absolute;
      top: 0px;
      left: 350px;
      text-align: center; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold img {
        width: 30px;
        height: auto;
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_centre_gold_font {
        font-size: 40px;
        font-weight: bold;
        color: black;
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_center_user_mem1 {
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_center_user_mem2 {
        margin-top: 20px;
        width: 100px;
        height: 20px;
        background-color: #fee;
        border-radius: 20px;
        margin-left: 60px;
        margin-top: 30px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_center_user_mem2 i {
          width: 4px;
          height: 4px;
          display: inline-block;
          transform: rotate(136deg);
          transition: all .3s;
          transform-origin: 2px 2px;
          border-top: 2px solid #AAA;
          border-left: 2px solid #AAA;
          border-radius: 2px;
          margin-left: 5px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_center_user_mem2:hover i {
          border-color: red; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_gold .bd_center_user_mem3 {
        padding-top: 20px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts {
      width: 213px;
      height: 200px;
      position: absolute;
      top: 0px;
      left: 580px;
      text-align: center; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts img {
        width: 30px;
        height: auto;
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_centre_gold_font {
        font-size: 40px;
        font-weight: bold;
        color: black;
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_center_user_mem1 {
        position: relative;
        top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_center_user_mem2 {
        margin-top: 20px;
        width: 100px;
        height: 20px;
        background-color: #fee;
        border-radius: 20px;
        margin-left: 60px;
        margin-top: 30px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_center_user_mem2 i {
          width: 4px;
          height: 4px;
          display: inline-block;
          transform: rotate(136deg);
          transition: all .3s;
          transform-origin: 2px 2px;
          border-top: 2px solid #AAA;
          border-left: 2px solid #AAA;
          border-radius: 2px;
          margin-left: 5px; }
        .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_center_user_mem2:hover i {
          border-color: red; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_discounts .bd_center_user_mem3 {
        padding-top: 20px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date {
      width: 190px;
      height: 120px;
      position: absolute;
      top: 0px;
      left: 830px;
      z-index: 10;
      margin-top: 20px; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date .bd_centre_date1 {
        position: absolute;
        top: 10px;
        left: 10px;
        color: red; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date .bd_centre_date2 {
        position: absolute;
        top: 10px;
        left: 140px;
        color: red; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date .bd_centre_date5 {
        width: 200px;
        height: 130px;
        position: absolute;
        top: 70px;
        left: 0px;
        z-index: 10;
        display: none; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date .bd_centre_date3 {
        width: 145px;
        height: 30px;
        background-color: red;
        position: absolute;
        top: 45px;
        left: 25px;
        color: white;
        line-height: 30px;
        text-align: center; }
      .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date:hover .bd_centre_date5 {
        display: block; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date4 {
      position: absolute;
      top: 90px;
      left: 23px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_date6 {
      width: 16px;
      height: 16px;
      float: right; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_indent i {
      width: 4px;
      height: 4px;
      display: inline-block;
      transform: rotate(136deg);
      transition: all .3s;
      transform-origin: 2px 2px;
      border-top: 2px solid #AAA;
      border-left: 2px solid #AAA;
      border-radius: 2px;
      margin-left: 5px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_indent .bd_centre_indent1 {
      margin-left: 10px;
      width: 96px;
      height: 28px;
      border-radius: 25px;
      background-color: red;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      color: #FFF; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_indent .bd_centre_indent2 {
      position: absolute;
      right: 10px;
      top: 200px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_nothing img {
      margin-top: 70px;
      margin-left: 400px; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_nothing p {
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      color: #666; }
    .bd_centre .bd_centre_wrap .bd_centre_right .bd_centre_nothing .bd_centre_nothing1 {
      font-size: 12px;
      padding-bottom: 100px; }

.ft_top {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb; }
  .ft_top a {
    float: left;
    width: 205px;
    margin: 0 51px;
    overflow: hidden; }
    .ft_top a img {
      float: left;
      width: 66px;
      height: 66px;
      margin-right: 15px; }
    .ft_top a b, .ft_top a .ft_help .ft_hp_list a, .ft_help .ft_hp_list .ft_top a a {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      color: #333; }
    .ft_top a span, .ft_top a .hd_header_top .hd_place .none .hd_hot_city div, .hd_header_top .hd_place .none .hd_hot_city .ft_top a div, .ft_top a .hd_header_top .hd_place .none .hd_letter_search div, .hd_header_top .hd_place .none .hd_letter_search .ft_top a div {
      font-size: 14px;
      color: #999;
      line-height: 26px; }

.ft_help {
  padding: 20px 0 20px; }
  .ft_help .ft_hp_list {
    float: left;
    margin-left: 15px; }
    .ft_help .ft_hp_list li {
      float: left;
      list-style: none;
      width: 195px; }
    .ft_help .ft_hp_list b, .ft_help .ft_hp_list a {
      display: block;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      color: #666;
      font-weight: bold;
      padding-left: 8px; }
    .ft_help .ft_hp_list a {
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      font-size: 12px;
      white-space: normal;
      font-weight: normal; }
      .ft_help .ft_hp_list a:hover {
        color: red; }
    .ft_help .ft_hp_list ~ div {
      float: left;
      margin-right: 50px;
      line-height: 32px;
      font-size: 14px;
      font-weight: bold;
      color: #666; }
      .ft_help .ft_hp_list ~ div img {
        width: 90px;
        height: 90px; }

.footer_link {
  position: absolute; }
  .footer_link p {
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0; }
    .footer_link p a {
      margin: 0 10px; }
  .footer_link p + p + p {
    padding: 10px 0 20px;
    margin: 0; }
    .footer_link p + p + p a {
      margin: 0 4px; }

.ft_ft {
  position: absolute; }

/*# sourceMappingURL=yhd.css.map */
